\documentclass[a4paper]{article}
\newcommand{\printlandscape}{\special{landscape}}
\printlandscape
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\usepackage{array}
\newcommand{\myseat}[3]{%
	\vspace{-0.1cm}
	% \vspace{0.1cm}
	\normalsize
	\begin{minipage}{3.0cm}
	\begin{description}
	\vspace{-0.1cm}
		\item [ID:] #1
	\vspace{-0.1cm}
		\item [Team:] #2 \normalsize
	\vspace{-0.1cm}
		\item \huge #3
	\vspace{-0.1cm}
	\end{description}
	\vspace{-0.1cm}
	\end{minipage}
}
\begin{document}
\begin{picture}(15,20)(+4.1,-22.0)
\begin{tabular}[t]{|p{3.2cm}|p{3.2cm}||p{3.2cm}|p{3.2cm}||p{3.2cm}|p{3.2cm}||p{3.2cm}|p{3.2cm}|}
	\hline
	\myseat{[* $s00{id} *]}{[* $s00{team} *]}{[* $s00{name} *]} &
	\myseat{[* $s01{id} *]}{[* $s01{team} *]}{[* $s01{name} *]} &
	\myseat{[* $s02{id} *]}{[* $s02{team} *]}{[* $s02{name} *]} &
	\myseat{[* $s03{id} *]}{[* $s03{team} *]}{[* $s03{name} *]} &
	\myseat{[* $s04{id} *]}{[* $s04{team} *]}{[* $s04{name} *]} &
	\myseat{[* $s05{id} *]}{[* $s05{team} *]}{[* $s05{name} *]} &
	\myseat{[* $s06{id} *]}{[* $s06{team} *]}{[* $s06{name} *]} &
	\myseat{[* $s07{id} *]}{[* $s07{team} *]}{[* $s07{name} *]}
\\ \hline

	\myseat{[* $s10{id} *]}{[* $s10{team} *]}{[* $s10{name} *]} &
	\myseat{[* $s11{id} *]}{[* $s11{team} *]}{[* $s11{name} *]} &
	\myseat{[* $s12{id} *]}{[* $s12{team} *]}{[* $s12{name} *]} &
	\myseat{[* $s13{id} *]}{[* $s13{team} *]}{[* $s13{name} *]} &
	\myseat{[* $s14{id} *]}{[* $s14{team} *]}{[* $s14{name} *]} &
	\myseat{[* $s15{id} *]}{[* $s15{team} *]}{[* $s15{name} *]} &
	\myseat{[* $s16{id} *]}{[* $s16{team} *]}{[* $s16{name} *]} &
	\myseat{[* $s17{id} *]}{[* $s17{team} *]}{[* $s17{name} *]}
\\ \hline \hline

	\myseat{[* $s20{id} *]}{[* $s20{team} *]}{[* $s20{name} *]} &
	\myseat{[* $s21{id} *]}{[* $s21{team} *]}{[* $s21{name} *]} &
	\myseat{[* $s22{id} *]}{[* $s22{team} *]}{[* $s22{name} *]} &
	\myseat{[* $s23{id} *]}{[* $s23{team} *]}{[* $s23{name} *]} &
	\myseat{[* $s24{id} *]}{[* $s24{team} *]}{[* $s24{name} *]} &
	\myseat{[* $s25{id} *]}{[* $s25{team} *]}{[* $s25{name} *]} &
	\myseat{[* $s26{id} *]}{[* $s26{team} *]}{[* $s26{name} *]} &
	\myseat{[* $s27{id} *]}{[* $s27{team} *]}{[* $s27{name} *]}
\\ \hline

	\myseat{[* $s30{id} *]}{[* $s30{team} *]}{[* $s30{name} *]} &
	\myseat{[* $s31{id} *]}{[* $s31{team} *]}{[* $s31{name} *]} &
	\myseat{[* $s32{id} *]}{[* $s32{team} *]}{[* $s32{name} *]} &
	\myseat{[* $s33{id} *]}{[* $s33{team} *]}{[* $s33{name} *]} &
	\myseat{[* $s34{id} *]}{[* $s34{team} *]}{[* $s34{name} *]} &
	\myseat{[* $s35{id} *]}{[* $s35{team} *]}{[* $s35{name} *]} &
	\myseat{[* $s36{id} *]}{[* $s36{team} *]}{[* $s36{name} *]} &
	\myseat{[* $s37{id} *]}{[* $s37{team} *]}{[* $s37{name} *]}
\\ \hline \hline

	\myseat{[* $s40{id} *]}{[* $s40{team} *]}{[* $s40{name} *]} &
	\myseat{[* $s41{id} *]}{[* $s41{team} *]}{[* $s41{name} *]} &
	\myseat{[* $s42{id} *]}{[* $s42{team} *]}{[* $s42{name} *]} &
	\myseat{[* $s43{id} *]}{[* $s43{team} *]}{[* $s43{name} *]} &
	\myseat{[* $s44{id} *]}{[* $s44{team} *]}{[* $s44{name} *]} &
	\myseat{[* $s45{id} *]}{[* $s45{team} *]}{[* $s45{name} *]} &
	\myseat{[* $s46{id} *]}{[* $s46{team} *]}{[* $s46{name} *]} &
	\myseat{[* $s47{id} *]}{[* $s47{team} *]}{[* $s47{name} *]}
\\ \hline

	\myseat{[* $s50{id} *]}{[* $s50{team} *]}{[* $s50{name} *]} &
	\myseat{[* $s51{id} *]}{[* $s51{team} *]}{[* $s51{name} *]} &
	\myseat{[* $s52{id} *]}{[* $s52{team} *]}{[* $s52{name} *]} &
	\myseat{[* $s53{id} *]}{[* $s53{team} *]}{[* $s53{name} *]} &
	\myseat{[* $s54{id} *]}{[* $s54{team} *]}{[* $s54{name} *]} &
	\myseat{[* $s55{id} *]}{[* $s55{team} *]}{[* $s55{name} *]} &
	\myseat{[* $s56{id} *]}{[* $s56{team} *]}{[* $s56{name} *]} &
	\myseat{[* $s57{id} *]}{[* $s57{team} *]}{[* $s57{name} *]}
\\ \hline \hline

	\myseat{[* $s60{id} *]}{[* $s60{team} *]}{[* $s60{name} *]} &
	\myseat{[* $s61{id} *]}{[* $s61{team} *]}{[* $s61{name} *]} &
	\myseat{[* $s62{id} *]}{[* $s62{team} *]}{[* $s62{name} *]} &
	\myseat{[* $s63{id} *]}{[* $s63{team} *]}{[* $s63{name} *]} &
	\myseat{[* $s64{id} *]}{[* $s64{team} *]}{[* $s64{name} *]} &
	\myseat{[* $s65{id} *]}{[* $s65{team} *]}{[* $s65{name} *]} &
	\myseat{[* $s66{id} *]}{[* $s66{team} *]}{[* $s66{name} *]} &
	\myseat{[* $s67{id} *]}{[* $s67{team} *]}{[* $s67{name} *]}
\\ \hline

\end{tabular}
\end{picture}
\end{document}
