\documentclass[a4paper]{article}
\newcommand{\printlandscape}{\special{landscape}}
\printlandscape
\usepackage[absolute,showboxes]{textpos}
\usepackage{xeCJK}
\setCJKmainfont{WenQuanYi Zen Hei}
\usepackage[usenames]{color}
\definecolor{Black}{cmyk}       {0.00, 0.00, 0.00, 0.30}
\definecolor{Brown}{cmyk}       {0.00, 0.17, 0.39, 0.12}
\definecolor{DarkBlue}{cmyk}    {0.70, 0.70, 0.00, 0.20}
\definecolor{DarkGreen}{cmyk}   {0.50, 0.10, 0.50, 0.10}
\definecolor{Gray}{cmyk}        {0.00, 0.00, 0.00, 0.10}
\definecolor{Blue}{cmyk}        {0.15, 0.00, 0.00, 0.00}
\definecolor{Green}{cmyk}       {0.30, 0.00, 0.30, 0.00}
\definecolor{LightGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{LightBlue}{cmyk}   {0.20, 0.00, 0.00, 0.00}
\definecolor{Orange}{cmyk}      {0.00, 0.20, 0.55, 0.00}
\definecolor{Pink}{cmyk}        {0.00, 0.15, 0.00, 0.00}
\definecolor{Purple}{cmyk}      {0.00, 0.45, 0.00, 0.07}
\definecolor{Red}{cmyk}         {0.00, 0.50, 0.50, 0.00}
\definecolor{White}{cmyk}       {0.00, 0.00, 0.00, 0.00}
\definecolor{Yellow}{cmyk}      {0.00, 0.00, 0.23, 0.00}
\definecolor{BlackBlack}{cmyk}  {0.00, 0.00, 0.00, 0.40}
\definecolor{BlueBlue}{cmyk}    {0.20, 0.00, 0.00, 0.00}
\definecolor{BrownBrown}{cmyk}  {0.00, 0.17, 0.39, 0.20}
\definecolor{GrayGray}{cmyk}    {0.00, 0.00, 0.00, 0.20}
\definecolor{GreenGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{OrangeOrange}{cmyk}{0.00, 0.30, 0.80, 0.00}
\definecolor{PinkPink}{cmyk}    {0.00, 0.15, 0.00, 0.00}
\definecolor{PurplePurple}{cmyk}{0.00, 0.45, 0.00, 0.07}
\TPMargin{0.2cm}
\textblockorigin{0.30cm}{0.35cm} %
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\usepackage{array}
\newcommand{\myseat}[4]{%
	\vspace{-0.1cm}
	\hspace{-0.5cm}
	\parbox[t][2.3cm][t]{3.5cm}{
	\small #1 % \normalsize
	\begin{description}
	\vspace{-0.1cm}
	\item [ID:] #2
	\vspace{-0.1cm}
	\item [Team:] #3 \normalsize
	\vspace{-0.1cm}
	\item \normalsize #4
	\vspace{-0.1cm}
	\end{description}
	}
}

\begin{document}

\begin{textblock}{2.5}(2.0,0)
\textblocklabel{H1}
\textblockcolor{[* $s08{color} *]}
\myseat{H1}{[* $s08{id} *]}{[* $s08{team} *]}{[* $s08{name} *]}
\end{textblock}

\begin{textblock}{2.5}(4.5,0)
\textblocklabel{G1}
\textblockcolor{[* $s07{color} *]}
\myseat{G1}{[* $s07{id} *]}{[* $s07{team} *]}{[* $s07{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.0,0)
\textblocklabel{F1}
\textblockcolor{[* $s06{color} *]}
\myseat{F1}{[* $s06{id} *]}{[* $s06{team} *]}{[* $s06{name} *]}
\end{textblock}

\begin{textblock}{2.5}(9.5,0)
\textblocklabel{E1}
\textblockcolor{[* $s05{color} *]}
\myseat{E1}{[* $s05{id} *]}{[* $s05{team} *]}{[* $s05{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.0,0)
\textblocklabel{D1}
\textblockcolor{[* $s04{color} *]}
\myseat{D1}{[* $s04{id} *]}{[* $s04{team} *]}{[* $s04{name} *]}
\end{textblock}

\begin{textblock}{2.5}(14.5,0)
\textblocklabel{C1}
\textblockcolor{[* $s03{color} *]}
\myseat{C1}{[* $s03{id} *]}{[* $s03{team} *]}{[* $s03{name} *]}
\end{textblock}

\begin{textblock}{2.5}(17.0,0)
\textblocklabel{B1}
\textblockcolor{[* $s02{color} *]}
\myseat{B1}{[* $s02{id} *]}{[* $s02{team} *]}{[* $s02{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,0)
\textblocklabel{A1}
\textblockcolor{[* $s01{color} *]}
\myseat{A1}{[* $s01{id} *]}{[* $s01{team} *]}{[* $s01{name} *]}
\end{textblock}


\begin{textblock}{2.5}(2.0,1.4)
\textblocklabel{H2}
\textblockcolor{[* $s16{color} *]}
\myseat{H2}{[* $s16{id} *]}{[* $s16{team} *]}{[* $s16{name} *]}
\end{textblock}

\begin{textblock}{2.5}(4.5,1.4)
\textblocklabel{G2}
\textblockcolor{[* $s15{color} *]}
\myseat{G2}{[* $s15{id} *]}{[* $s15{team} *]}{[* $s15{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.0,1.4)
\textblocklabel{F2}
\textblockcolor{[* $s14{color} *]}
\myseat{F2}{[* $s14{id} *]}{[* $s14{team} *]}{[* $s14{name} *]}
\end{textblock}

\begin{textblock}{2.5}(9.5,1.4)
\textblocklabel{E2}
\textblockcolor{[* $s13{color} *]}
\myseat{E2}{[* $s13{id} *]}{[* $s13{team} *]}{[* $s13{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.0,1.4)
\textblocklabel{D2}
\textblockcolor{[* $s12{color} *]}
\myseat{D2}{[* $s12{id} *]}{[* $s12{team} *]}{[* $s12{name} *]}
\end{textblock}

\begin{textblock}{2.5}(14.5,1.4)
\textblocklabel{C2}
\textblockcolor{[* $s11{color} *]}
\myseat{C2}{[* $s11{id} *]}{[* $s11{team} *]}{[* $s11{name} *]}
\end{textblock}

\begin{textblock}{2.5}(17.0,1.4)
\textblocklabel{B2}
\textblockcolor{[* $s10{color} *]}
\myseat{B2}{[* $s10{id} *]}{[* $s10{team} *]}{[* $s10{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,1.4)
\textblocklabel{A2}
\textblockcolor{[* $s09{color} *]}
\myseat{A2}{[* $s09{id} *]}{[* $s09{team} *]}{[* $s09{name} *]}
\end{textblock}


\begin{textblock}{2.5}(2.0,2.8)
\textblocklabel{H3}
\textblockcolor{[* $s24{color} *]}
\myseat{H3}{[* $s24{id} *]}{[* $s24{team} *]}{[* $s24{name} *]}
\end{textblock}

\begin{textblock}{2.5}(4.5,2.8)
\textblocklabel{G3}
\textblockcolor{[* $s23{color} *]}
\myseat{G3}{[* $s23{id} *]}{[* $s23{team} *]}{[* $s23{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.0,2.8)
\textblocklabel{F3}
\textblockcolor{[* $s22{color} *]}
\myseat{F3}{[* $s22{id} *]}{[* $s22{team} *]}{[* $s22{name} *]}
\end{textblock}

\begin{textblock}{2.5}(9.5,2.8)
\textblocklabel{E3}
\textblockcolor{[* $s21{color} *]}
\myseat{E3}{[* $s21{id} *]}{[* $s21{team} *]}{[* $s21{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.0,2.8)
\textblocklabel{D3}
\textblockcolor{[* $s20{color} *]}
\myseat{D3}{[* $s20{id} *]}{[* $s20{team} *]}{[* $s20{name} *]}
\end{textblock}

\begin{textblock}{2.5}(14.5,2.8)
\textblocklabel{C3}
\textblockcolor{[* $s19{color} *]}
\myseat{C3}{[* $s19{id} *]}{[* $s19{team} *]}{[* $s19{name} *]}
\end{textblock}

\begin{textblock}{2.5}(17.0,2.8)
\textblocklabel{B3}
\textblockcolor{[* $s18{color} *]}
\myseat{B3}{[* $s18{id} *]}{[* $s18{team} *]}{[* $s18{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,2.8)
\textblocklabel{A3}
\textblockcolor{[* $s17{color} *]}
\myseat{A3}{[* $s17{id} *]}{[* $s17{team} *]}{[* $s17{name} *]}
\end{textblock}


\begin{textblock}{2.5}(2.0,4.2)
\textblocklabel{H4}
\textblockcolor{[* $s32{color} *]}
\myseat{H4}{[* $s32{id} *]}{[* $s32{team} *]}{[* $s32{name} *]}
\end{textblock}

\begin{textblock}{2.5}(4.5,4.2)
\textblocklabel{G4}
\textblockcolor{[* $s31{color} *]}
\myseat{G4}{[* $s31{id} *]}{[* $s31{team} *]}{[* $s31{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.0,4.2)
\textblocklabel{F4}
\textblockcolor{[* $s30{color} *]}
\myseat{F4}{[* $s30{id} *]}{[* $s30{team} *]}{[* $s30{name} *]}
\end{textblock}

\begin{textblock}{2.5}(9.5,4.2)
\textblocklabel{E4}
\textblockcolor{[* $s29{color} *]}
\myseat{E4}{[* $s29{id} *]}{[* $s29{team} *]}{[* $s29{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.0,4.2)
\textblocklabel{D4}
\textblockcolor{[* $s28{color} *]}
\myseat{D4}{[* $s28{id} *]}{[* $s28{team} *]}{[* $s28{name} *]}
\end{textblock}

\begin{textblock}{2.5}(14.5,4.2)
\textblocklabel{C4}
\textblockcolor{[* $s27{color} *]}
\myseat{C4}{[* $s27{id} *]}{[* $s27{team} *]}{[* $s27{name} *]}
\end{textblock}

\begin{textblock}{2.5}(17.0,4.2)
\textblocklabel{B4}
\textblockcolor{[* $s26{color} *]}
\myseat{B4}{[* $s26{id} *]}{[* $s26{team} *]}{[* $s26{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,4.2)
\textblocklabel{A4}
\textblockcolor{[* $s25{color} *]}
\myseat{A4}{[* $s25{id} *]}{[* $s25{team} *]}{[* $s25{name} *]}
\end{textblock}


\begin{textblock}{2.5}(2.0,5.6)
\textblocklabel{H5}
\textblockcolor{[* $s40{color} *]}
\myseat{H5}{[* $s40{id} *]}{[* $s40{team} *]}{[* $s40{name} *]}
\end{textblock}

\begin{textblock}{2.5}(4.5,5.6)
\textblocklabel{G5}
\textblockcolor{[* $s39{color} *]}
\myseat{G5}{[* $s39{id} *]}{[* $s39{team} *]}{[* $s39{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.0,5,6)
\textblocklabel{F5}
\textblockcolor{[* $s38{color} *]}
\myseat{F5}{[* $s38{id} *]}{[* $s38{team} *]}{[* $s38{name} *]}
\end{textblock}

\begin{textblock}{2.5}(9.5,5,6)
\textblocklabel{E5}
\textblockcolor{[* $s37{color} *]}
\myseat{E5}{[* $s37{id} *]}{[* $s37{team} *]}{[* $s37{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.0,5.6)
\textblocklabel{D5}
\textblockcolor{[* $s36{color} *]}
\myseat{D5}{[* $s36{id} *]}{[* $s36{team} *]}{[* $s36{name} *]}
\end{textblock}

\begin{textblock}{2.5}(14.5,5.6)
\textblocklabel{C5}
\textblockcolor{[* $s35{color} *]}
\myseat{C5}{[* $s35{id} *]}{[* $s35{team} *]}{[* $s35{name} *]}
\end{textblock}

\begin{textblock}{2.5}(17.0,5.6)
\textblocklabel{B5}
\textblockcolor{[* $s34{color} *]}
\myseat{B5}{[* $s34{id} *]}{[* $s34{team} *]}{[* $s34{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,5.6)
\textblocklabel{A5}
\textblockcolor{[* $s33{color} *]}
\myseat{A5}{[* $s33{id} *]}{[* $s33{team} *]}{[* $s33{name} *]}
\end{textblock}


\begin{textblock}{2.5}(2.0,7.0)
\textblocklabel{H6}
\textblockcolor{[* $s48{color} *]}
\myseat{H6}{[* $s48{id} *]}{[* $s48{team} *]}{[* $s48{name} *]}
\end{textblock}

\begin{textblock}{2.5}(4.5,7.0)
\textblocklabel{G6}
\textblockcolor{[* $s47{color} *]}
\myseat{G6}{[* $s47{id} *]}{[* $s47{team} *]}{[* $s47{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.0,7.0)
\textblocklabel{F6}
\textblockcolor{[* $s46{color} *]}
\myseat{F6}{[* $s46{id} *]}{[* $s46{team} *]}{[* $s46{name} *]}
\end{textblock}

\begin{textblock}{2.5}(9.5,7.0)
\textblocklabel{E6}
\textblockcolor{[* $s45{color} *]}
\myseat{E6}{[* $s45{id} *]}{[* $s45{team} *]}{[* $s45{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.0,7.0)
\textblocklabel{D6}
\textblockcolor{[* $s44{color} *]}
\myseat{D6}{[* $s44{id} *]}{[* $s44{team} *]}{[* $s44{name} *]}
\end{textblock}

\begin{textblock}{2.5}(14.5,7.0)
\textblocklabel{C6}
\textblockcolor{[* $s43{color} *]}
\myseat{C6}{[* $s43{id} *]}{[* $s43{team} *]}{[* $s43{name} *]}
\end{textblock}

\begin{textblock}{2.5}(17.0,7.0)
\textblocklabel{B6(34)}
\textblockcolor{[* $s42{color} *]}
\myseat{B6(34)}{[* $s42{id} *]}{[* $s42{team} *]}{[* $s42{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,7.0)
\textblocklabel{A6}
\textblockcolor{[* $s41{color} *]}
\myseat{A6}{[* $s41{id} *]}{[* $s41{team} *]}{[* $s41{name} *]}
\end{textblock}


\begin{textblock}{2.5}(2.0,8.4)
\textblocklabel{H7}
\textblockcolor{[* $s56{color} *]}
\myseat{H7}{[* $s56{id} *]}{[* $s56{team} *]}{[* $s56{name} *]}
\end{textblock}

\begin{textblock}{2.5}(4.5,8.4)
\textblocklabel{G7}
\textblockcolor{[* $s55{color} *]}
\myseat{G7}{[* $s55{id} *]}{[* $s55{team} *]}{[* $s55{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.0,8.4)
\textblocklabel{F7}
\textblockcolor{[* $s54{color} *]}
\myseat{F7}{[* $s54{id} *]}{[* $s54{team} *]}{[* $s54{name} *]}
\end{textblock}

\begin{textblock}{2.5}(9.5,8.4)
\textblocklabel{E7}
\textblockcolor{[* $s53{color} *]}
\myseat{E7}{[* $s53{id} *]}{[* $s53{team} *]}{[* $s53{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.0,8.4)
\textblocklabel{D7}
\textblockcolor{[* $s52{color} *]}
\myseat{D7}{[* $s52{id} *]}{[* $s52{team} *]}{[* $s52{name} *]}
\end{textblock}

\begin{textblock}{2.5}(14.5,8.4)
\textblocklabel{C7}
\textblockcolor{[* $s51{color} *]}
\myseat{C7}{[* $s51{id} *]}{[* $s51{team} *]}{[* $s51{name} *]}
\end{textblock}

\begin{textblock}{2,5}(17.0,8.4)
\textblocklabel{B7}
\textblockcolor{[* $s50{color} *]}
\myseat{B7}{[* $s50{id} *]}{[* $s50{team} *]}{[* $s50{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,8.4)
\textblocklabel{A7}
\textblockcolor{[* $s49{color} *]}
\myseat{A7}{[* $s49{id} *]}{[* $s49{team} *]}{[* $s49{name} *]}
\end{textblock}


\begin{textblock}{2.5}(12.0,9.8)
\textblocklabel{62}
\textblockcolor{[* $s62{color} *]}
\myseat{62}{[*$s62{id}*]}{[* $s62{team}*]}{[* $s62{name}*]}
\end{textblock}

\begin{textblock}{2.5}(14.5,9.8)
\textblocklabel{61}
\textblockcolor{[* $s61{color} *]}
\myseat{61}{[*$s61{id}*]}{[* $s61{team}*]}{[* $s61{name}*]}
\end{textblock}

\begin{textblock}{2.5}(17.0,9.8)
\textblocklabel{60}
\textblockcolor{[* $s60{color} *]}
\myseat{60}{[* $s60{id} *]}{[* $s60{team} *]}{[* $s60{name} *]}
\end{textblock}

\begin{textblock}{2.5}(19.5,9.8)
\textblocklabel{64}
\textblockcolor{[* $s64{color} *]}
\myseat{64}{[* $s64{id} *]}{[* $s64{team} *]}{[* $s64{name} *]}
\end{textblock}

\begin{textblock}{10}(2.0,9.8)
\textblocklabel{title}
\textblockcolor{}
\parbox[t][2.2cm][t]{9.5cm}{%
\large Room ydu-223, [* $league *]: Session [* $session *], Week: 
\vspace{-0.3cm} \hspace{-0.5cm}
}
\end{textblock}


\end{document}
