\documentclass[a4paper]{article}
\usepackage[T1]{fontenc}
% \usepackage[absolute,noshowtext,showboxes]{textpos}
\usepackage[absolute,showboxes]{textpos}
% \textblockorigin{0.10cm}{1.00cm}
\textblockorigin{0.00cm}{0.00cm} %HPLaserJet5000LE
\usepackage{texdraw}
\pagestyle{empty}
\setlength{\unitlength}{1cm}

\newcommand{\myIdentifier}[0]{
<TMPL>$identifier</TMPL>
}

\newcommand{\myAcontent}[0]{
<TMPL>$A</TMPL>
}

\newcommand{\myBcontent}[0]{
<TMPL>$B</TMPL>
}

\newcommand{\myCcontent}[0]{
<TMPL>$C</TMPL>
}

\newcommand{\myDcontent}[0]{
<TMPL>$D</TMPL>
}

\newcommand{\mycard}[5]{%
	\vspace{0.1cm}
	\small #1 #2
	\par
	\parbox[t][14.1cm][c]{9.5cm}{%
	\hspace{0.1cm} \normalsize#3\\
	\normalsize#4 #5
	}
}

\begin{document}
\fontfamily{hlst}\fontseries{b}\fontshape{n}\selectfont
% \begin{picture}(15,20)(+4.8,-22.05)
% \begin{tabular}[t]{*{2}{|p{10.05cm}}|}

\begin{textblock}{8}(0,0)
\textblocklabel{picture1}
\mycard{}{\myIdentifier}{\parbox{9.0cm}{A:
\myAcontent
}}{}{} 
\end{textblock}

\begin{textblock}{8}(8,0)
\textblocklabel{picture2}
\mycard{}{\myIdentifier}{\parbox{9.0cm}{B:
\myBcontent
}}{}{} 
\end{textblock}

\begin{textblock}{8}(0,8)
\textblocklabel{picture3}
\mycard{}{\myIdentifier}{\parbox{9.0cm}{C:
\myCcontent
}}{}{} 
\end{textblock}

\begin{textblock}{8}(8,8)
\textblocklabel{picture4}
\mycard{}{\myIdentifier}{\parbox{9.0cm}{D:
\myDcontent
}}{}{} 
\end{textblock}

\end{document}


