\documentclass[a4paper,landscape]{article}
\usepackage{fontspec}
\setmainfont{Linux Libertine O}[
	Scale=MatchLowercase,
	Scale = 2.0,
]
\usepackage{xeCJK}
\setCJKmainfont{NotoSansCJK-Regular.ttc}[
	Path = /usr/share/fonts/noto/,
]
% \usepackage[absolute,noshowtext,showboxes]{textpos}
\usepackage[absolute]{textpos}
% \textblockorigin{-0.02cm}{0.07cm} %HPDeskJet5160
% \textblockorigin{0.00cm}{0.00cm} %HPDeskJet5160
\textblockorigin{0.00cm}{0.00cm} %HPDeskJet5160
% \textblockorigin{0.05cm}{0.13cm} %HPDeskJet5160
% \textblockorigin{0.00cm}{0.00cm} %HPLaserJet5000LE
\usepackage[none]{hyphenat}
\usepackage{graphicx}
\graphicspath{ {«$graphicx»} }
\usepackage{tikz}
\pagestyle{empty}
\setlength{\unitlength}{1cm}

\setlength{\TPVertModule}{2.1214cm}

\newcommand{\myCornerIdentifier}[0]{
«$identifier»
}

\newcommand{\myBackLeftHandCorner}[0]{
\includegraphics[angle=00,height=0.30\paperheight,width=0.19\paperwidth]{«$bl»}
}

\newcommand{\myBackMiddle}[0]{
\includegraphics[angle=00,height=0.30\paperheight,width=0.19\paperwidth]{«$bm»}
}

\newcommand{\myBackRightHandCorner}[0]{
\includegraphics[angle=00,height=0.30\paperheight,width=0.19\paperwidth]{«$br»}
}

\newcommand{\myLeftMiddle}[0]{
\includegraphics[angle=00,height=0.35\paperheight,width=0.24\paperwidth]{«$ml»}
}

\newcommand{\myMiddle}[0]{
\includegraphics[angle=00,height=0.35\paperheight,width=0.24\paperwidth]{«$mm»}
}

\newcommand{\myRightMiddle}[0]{
\includegraphics[angle=00,height=0.35\paperheight,width=0.24\paperwidth]{«$mr»}
}

\newcommand{\myFrontLeftHandCorner}[0]{
\includegraphics[angle=00,height=0.40\paperheight,width=0.29\paperwidth]{«$fl»}
}

\newcommand{\myFrontMiddle}[0]{
\includegraphics[angle=00,height=0.40\paperheight,width=0.29\paperwidth]{«$fm»}
}

\newcommand{\myFrontRightHandCorner}[0]{
\includegraphics[angle=00,height=0.40\paperheight,width=0.29\paperwidth]{«$fr»}
}

\newcommand{\mycard}[5]{%
	\vspace{0.3cm}
	\tiny #1 #2
	\vspace{-0.03cm}
	\par
	\parbox[t][4.7cm][c]{5.3cm}{%
	\hspace{-0.8cm} \large#3\\
	}
}

\begin{document}
%.%
% \begin{picture}(15,20)(+4.8,-22.05)
% \begin{tabular}[t]{*{2}{|p{10.05cm}}|}

\begin{textblock}{5}(2,1)
\textblocklabel{picture1}
\mycard{}{\myCornerIdentifier}{
\myBackLeftHandCorner
}{}{} 
\end{textblock}

\begin{textblock}{5}(6,1)
\textblocklabel{picture2}
\mycard{}{\myCornerIdentifier}{
\myBackMiddle
}{}{} 
\end{textblock}

\begin{textblock}{5}(9,1)
\textblocklabel{picture1}
\mycard{}{\myCornerIdentifier}{
\myBackRightHandCorner
}{}{} 
\end{textblock}

\begin{textblock}{5}(1,4)
\textblocklabel{picture2}
\mycard{}{\myCornerIdentifier}{
\myLeftMiddle
}{}{} 
\end{textblock}

\begin{textblock}{5}(6,4)
\textblocklabel{picture3}
\mycard{}{\myCornerIdentifier}{
\myMiddle
}{}{} 
\end{textblock}

\begin{textblock}{5}(11,4)
\textblocklabel{picture5}
\mycard{}{\myCornerIdentifier}{
\myRightMiddle
}{}{} 
\end{textblock}

\begin{textblock}{5}(0.5,7)
\textblocklabel{picture3}
\mycard{}{\myCornerIdentifier}{
\myFrontLeftHandCorner
}{}{} 
\end{textblock}

\begin{textblock}{5}(6,7)
\textblocklabel{picture5}
\mycard{}{\myCornerIdentifier}{
\myFrontMiddle
}{}{} 
\end{textblock}

\begin{textblock}{5}(11,7)
\textblocklabel{picture3}
\mycard{}{\myCornerIdentifier}{
\myFrontRightHandCorner
}{}{} 
\end{textblock}

\begin{textblock}{16}(0,0)

\begin{figure}
\begin{tikzpicture}
	\draw (-12,5) -- (-3,12);
	\draw (12,5) -- (3,12);

	\draw (-8,-12) -- (-0.5,12);
	\draw (8,-12) -- (0.5,12);

	\draw[red] (-1.5,0) -- (1.5,0);
	\draw[red] (0,-0.5) -- (0,0.5);

	\draw (-12,-3) -- (12,-3);
	\draw (-12,3) -- (12,3);
	\draw (-12,10) -- (12,10);
\end{tikzpicture}
\end{figure}
\end{textblock}

% \begin{tiny}1\end{tiny}\newpage

\end{document}
