\documentclass[a4paper]{article}
\usepackage{CJK}
\usepackage[absolute,showboxes]{textpos}
% \usepackage[absolute]{textpos}
% \usepackage[usenames]{color}
% \definecolor{Black}{cmyk}     {0  ,0.0,0.0,0.4}
% \definecolor{Brown}{cmyk}     {0  ,0.6,0.6,0.5}
% \definecolor{DarkBlue}{cmyk}  {0.7,0.7,0.0,0.2}
% \definecolor{DarkGreen}{cmyk} {0.5,0.1,0.5,0.1}
% \definecolor{Gray}{cmyk}      {0  ,0  ,0  ,0.1}
% \definecolor{Blue}{cmyk}      {0.2,0.0,0.0,0  }
% \definecolor{Green}{cmyk}     {0.3,0  ,0.3,0.1}
% \definecolor{LightBlue}{cmyk} {0.2,0.0,0.0,0  }
% \definecolor{LightGreen}{cmyk}{0.3,0  ,0.3,0.1}
% \definecolor{Orange}{cmyk}    {0  ,0.3,0.8,0.0}
% \definecolor{Pink}{cmyk}      {0  ,0.3,0.3,0.1}
% \definecolor{Purple}{cmyk}    {0.3,0.8,0.2,0.1}
% \definecolor{Red}{cmyk}       {0  ,0.5,0.5,0.2}
% \definecolor{White}{cmyk}     {0  ,0  ,0  ,0  }
% \definecolor{Yellow}{cmyk}    {0  ,0.0,0.5,0  }
% \definecolor{BlackBlack}{cmyk}{0  ,0.0,0.0,0.4}
\TPMargin{0.2cm}
\textblockorigin{0.30cm}{0.35cm} % w5 LaserJet
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\usepackage{array}
\newcommand{\myseat}[4]{%
\vspace{-0.1cm}
% \vspace{0.1cm}
\parbox[t][2.2cm][t]{3.5cm}{
\small #1 % \normalsize
\begin{description}
\vspace{-0.1cm}
\item [ID:] #2
\vspace{-0.1cm}
\item [Team:] #3 \normalsize
\vspace{-0.1cm}
\item \normalsize #4
\vspace{-0.1cm}
\end{description}
}
}
\begin{document}

\begin{CJK}{UTF8}{cyberbit}

\begin{textblock}{2.5}(0,0)
\textblocklabel{47}
\textblockcolor{[* $s47{team} *]}
\myseat{47}{[* $s47{id} *]}{[* $s47{team} *]}{[* $s47{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,0)
\textblocklabel{37}
\textblockcolor{[* $s37{team} *]}
\myseat{37}{[* $s37{id} *]}{[* $s37{team} *]}{[* $s37{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,0)
\textblocklabel{27}
\textblockcolor{[* $s27{team} *]}
\myseat{27}{[* $s27{id} *]}{[* $s27{team} *]}{[* $s27{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,0)
\textblocklabel{17}
\textblockcolor{[* $s17{team} *]}
\myseat{17}{[* $s17{id} *]}{[* $s17{team} *]}{[* $s17{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,0)
\textblocklabel{09}
\textblockcolor{[* $s09{team} *]}
\myseat{09}{[* $s09{id} *]}{[* $s09{team} *]}{[* $s09{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,0)
\textblocklabel{01}
\textblockcolor{[* $s01{team} *]}
\myseat{01}{[* $s01{id} *]}{[* $s01{team} *]}{[* $s01{name} *]}
\end{textblock}


\begin{textblock}{2.5}(0,1.4)
\textblocklabel{48}
\textblockcolor{[* $s48{team} *]}
	\myseat{48}{[* $s48{id} *]}{[* $s48{team} *]}{[* $s48{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,1.4)
\textblocklabel{38}
\textblockcolor{[* $s38{team} *]}
	\myseat{38}{[* $s38{id} *]}{[* $s38{team} *]}{[* $s38{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,1.4)
\textblocklabel{28}
\textblockcolor{[* $s28{team} *]}
	\myseat{28}{[* $s28{id} *]}{[* $s28{team} *]}{[* $s28{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,1.4)
\textblocklabel{18}
\textblockcolor{[* $s18{team} *]}
	\myseat{18}{[* $s18{id} *]}{[* $s18{team} *]}{[* $s18{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,1.4)
\textblocklabel{10}
\textblockcolor{[* $s10{team} *]}
	\myseat{10}{[* $s10{id} *]}{[* $s10{team} *]}{[* $s10{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,1.4)
\textblocklabel{02}
\textblockcolor{[* $s02{team} *]}
	\myseat{02}{[* $s02{id} *]}{[* $s02{team} *]}{[* $s02{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,2.8)
\textblocklabel{49}
\textblockcolor{[* $s49{team} *]}
	\myseat{49}{[* $s49{id} *]}{[* $s49{team} *]}{[* $s49{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,2.8)
\textblocklabel{39}
\textblockcolor{[* $s39{team} *]}
	\myseat{39}{[* $s39{id} *]}{[* $s39{team} *]}{[* $s39{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,2.8)
\textblocklabel{29}
\textblockcolor{[* $s29{team} *]}
	\myseat{29}{[* $s29{id} *]}{[* $s29{team} *]}{[* $s29{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,2.8)
\textblocklabel{19}
\textblockcolor{[* $s19{team} *]}
	\myseat{19}{[* $s19{id} *]}{[* $s19{team} *]}{[* $s19{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,2.8)
\textblocklabel{11}
\textblockcolor{[* $s11{team} *]}
	\myseat{11}{[* $s11{id} *]}{[* $s11{team} *]}{[* $s11{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,2.8)
\textblocklabel{03}
\textblockcolor{[* $s03{team} *]}
	\myseat{03}{[* $s03{id} *]}{[* $s03{team} *]}{[* $s03{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,4.2)
\textblocklabel{50}
\textblockcolor{[* $s50{team} *]}
	\myseat{50}{[* $s50{id} *]}{[* $s50{team} *]}{[* $s50{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,4.2)
\textblocklabel{40}
\textblockcolor{[* $s40{team} *]}
	\myseat{40}{[* $s40{id} *]}{[* $s40{team} *]}{[* $s40{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,4.2)
\textblocklabel{30}
\textblockcolor{[* $s30{team} *]}
	\myseat{30}{[* $s30{id} *]}{[* $s30{team} *]}{[* $s30{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,4.2)
\textblocklabel{20}
\textblockcolor{[* $s20{team} *]}
	\myseat{20}{[* $s20{id} *]}{[* $s20{team} *]}{[* $s20{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,4.2)
\textblocklabel{12}
\textblockcolor{[* $s12{team} *]}
	\myseat{12}{[* $s12{id} *]}{[* $s12{team} *]}{[* $s12{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,4.2)
\textblocklabel{04}
\textblockcolor{[* $s04{team} *]}
	\myseat{04}{[* $s04{id} *]}{[* $s04{team} *]}{[* $s04{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,5.6)
\textblocklabel{51}
\textblockcolor{[* $s51{team} *]}
\myseat{51}{[* $s51{id} *]}{[* $s51{team} *]}{[* $s51{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,5.6)
\textblocklabel{41}
\textblockcolor{[* $s41{team} *]}
\myseat{41}{[* $s41{id} *]}{[* $s41{team} *]}{[* $s41{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,5.6)
\textblocklabel{31}
\textblockcolor{[* $s31{team} *]}
\myseat{31}{[* $s31{id} *]}{[* $s31{team} *]}{[* $s31{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,5.6)
\textblocklabel{21}
\textblockcolor{[* $s21{team} *]}
\myseat{21}{[* $s21{id} *]}{[* $s21{team} *]}{[* $s21{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,5.6)
\textblocklabel{13}
\textblockcolor{[* $s13{team} *]}
\myseat{13}{[* $s13{id} *]}{[* $s13{team} *]}{[* $s13{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,5.6)
\textblocklabel{05}
\textblockcolor{[* $s05{team} *]}
\myseat{05}{[* $s05{id} *]}{[* $s05{team} *]}{[* $s05{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,7)
\textblocklabel{52}
\textblockcolor{[* $s52{team} *]}
\myseat{52}{[* $s52{id} *]}{[* $s52{team} *]}{[* $s52{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,7)
\textblocklabel{42}
\textblockcolor{[* $s42{team} *]}
\myseat{42}{[* $s42{id} *]}{[* $s42{team} *]}{[* $s42{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,7)
\textblocklabel{32}
\textblockcolor{[* $s32{team} *]}
\myseat{32}{[* $s32{id} *]}{[* $s32{team} *]}{[* $s32{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,7)
\textblocklabel{22}
\textblockcolor{[* $s22{team} *]}
\myseat{22}{[* $s22{id} *]}{[* $s22{team} *]}{[* $s22{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,7)
\textblocklabel{14}
\textblockcolor{[* $s14{team} *]}
\myseat{14}{[* $s14{id} *]}{[* $s14{team} *]}{[* $s14{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,7)
\textblocklabel{06}
\textblockcolor{[* $s06{team} *]}
\myseat{06}{[* $s06{id} *]}{[* $s06{team} *]}{[* $s06{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,8.4)
\textblocklabel{53}
\textblockcolor{[* $s53{team} *]}
\myseat{53}{[* $s53{id} *]}{[* $s53{team} *]}{[* $s53{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,8.4)
\textblocklabel{43}
\textblockcolor{[* $s43{team} *]}
\myseat{43}{[* $s43{id} *]}{[* $s43{team} *]}{[* $s43{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,8.4)
\textblocklabel{33}
\textblockcolor{[* $s33{team} *]}
\myseat{33}{[* $s33{id} *]}{[* $s33{team} *]}{[* $s33{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,8.4)
\textblocklabel{23}
\textblockcolor{[* $s23{team} *]}
\myseat{23}{[* $s23{id} *]}{[* $s23{team} *]}{[* $s23{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,8.4)
\textblocklabel{15}
\textblockcolor{[* $s15{team} *]}
\myseat{15}{[* $s15{id} *]}{[* $s15{team} *]}{[* $s15{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,8.4)
\textblocklabel{07}
\textblockcolor{[* $s07{team} *]}
\myseat{07}{[* $s07{id} *]}{[* $s07{team} *]}{[* $s07{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,9.8)
\textblocklabel{54}
\textblockcolor{[* $s54{team} *]}
\myseat{54}{[* $s54{id} *]}{[* $s54{team} *]}{[* $s54{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,9.8)
\textblocklabel{44}
\textblockcolor{[* $s44{team} *]}
\myseat{44}{[* $s44{id} *]}{[* $s44{team} *]}{[* $s44{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,9.8)
\textblocklabel{34}
\textblockcolor{[* $s34{team} *]}
\myseat{34}{[* $s34{id} *]}{[* $s34{team} *]}{[* $s34{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,9.8)
\textblocklabel{24}
\textblockcolor{[* $s24{team} *]}
\myseat{24}{[* $s24{id} *]}{[* $s24{team} *]}{[* $s24{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,9.8)
\textblocklabel{16}
\textblockcolor{[* $s16{team} *]}
\myseat{16}{[* $s16{id} *]}{[* $s16{team} *]}{[* $s16{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,9.8)
\textblocklabel{08}
\textblockcolor{[* $s08{team} *]}
\myseat{08}{[* $s08{id} *]}{[* $s08{team} *]}{[* $s08{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,11.2)
\textblocklabel{55}
\textblockcolor{[* $s55{team} *]}
\myseat{55}{[* $s55{id} *]}{[* $s55{team} *]}{[* $s55{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,11.2)
\textblocklabel{45}
\textblockcolor{[* $s45{team} *]}
\myseat{45}{[* $s45{id} *]}{[* $s45{team} *]}{[* $s45{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,11.2)
\textblocklabel{35}
\textblockcolor{[* $s35{team} *]}
\myseat{35}{[* $s35{id} *]}{[* $s35{team} *]}{[* $s35{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,11.2)
\textblocklabel{25}
\textblockcolor{[* $s25{team} *]}
\myseat{25}{[* $s25{id} *]}{[* $s25{team} *]}{[* $s25{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,11.2)
\textblocklabel{25a}
\textblockcolor{[* $s25a{team} *]}
\myseat{25a}{[*$s25a{id}*]}{[* $s25a{team}*]}{[* $s25a{name}*]}
\end{textblock}

\begin{textblock}{2.5}(12.5,11.2)
\textblocklabel{25b}
\textblockcolor{[* $s25b{team} *]}
\myseat{25b}{[*$s25b{id}*]}{[* $s25b{team}*]}{[* $s25b{name}*]}
\end{textblock}

\begin{textblock}{2.5}(0,12.6)
\textblocklabel{56}
\textblockcolor{[* $s56{team} *]}
\myseat{56}{[* $s56{id} *]}{[* $s56{team} *]}{[* $s56{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,12.6)
\textblocklabel{46}
\textblockcolor{[* $s46{team} *]}
\myseat{46}{[* $s46{id} *]}{[* $s46{team} *]}{[* $s46{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,12.6)
\textblocklabel{36}
\textblockcolor{[* $s36{team} *]}
\myseat{36}{[* $s36{id} *]}{[* $s36{team} *]}{[* $s36{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,12.6)
\textblocklabel{26}
\textblockcolor{[* $s26{team} *]}
\myseat{26}{[* $s26{id} *]}{[* $s26{team} *]}{[* $s26{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,12.6)
\textblocklabel{26a}
\textblockcolor{[* $s26a{team} *]}
\myseat{26a}{[*$s26a{id}*]}{[* $s26a{team}*]}{[* $s26a{name}*]}
\end{textblock}

\begin{textblock}{2.5}(12.5,12.6)
\textblocklabel{26b}
\textblockcolor{[* $s26b{team} *]}
\myseat{26b}{[*$s26b{id}*]}{[* $s26b{team}*]}{[* $s26b{name}*]}
\end{textblock}

\begin{textblock}{7.5}(7.5,14)
\textblocklabel{title}
\textblockcolor{}
\parbox[t][2.2cm][t]{9.5cm}{%
\large Room 706, [* $league *]: [* $session *] session, Week: 
}
\end{textblock}

\end{CJK}

\end{document}
