\documentclass[a4paper]{article}
\usepackage[absolute,showboxes]{textpos}
\usepackage{xeCJK}
\setCJKmainfont{WenQuanYi Zen Hei}
\usepackage[usenames]{color}
\definecolor{Black}{cmyk}       {0.00, 0.00, 0.00, 0.30}
\definecolor{Brown}{cmyk}       {0.00, 0.17, 0.39, 0.12}
\definecolor{DarkBlue}{cmyk}    {0.70, 0.70, 0.00, 0.20}
\definecolor{DarkGreen}{cmyk}   {0.50, 0.10, 0.50, 0.10}
\definecolor{Gray}{cmyk}        {0.00, 0.00, 0.00, 0.10}
\definecolor{Blue}{cmyk}        {0.15, 0.00, 0.00, 0.00}
\definecolor{Green}{cmyk}       {0.30, 0.00, 0.30, 0.00}
\definecolor{LightGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{LightBlue}{cmyk}   {0.20, 0.00, 0.00, 0.00}
\definecolor{Orange}{cmyk}      {0.00, 0.20, 0.55, 0.00}
\definecolor{Pink}{cmyk}        {0.00, 0.15, 0.00, 0.00}
\definecolor{Purple}{cmyk}      {0.00, 0.45, 0.00, 0.07}
\definecolor{Red}{cmyk}         {0.00, 0.50, 0.50, 0.00}
\definecolor{White}{cmyk}       {0.00, 0.00, 0.00, 0.00}
\definecolor{Yellow}{cmyk}      {0.00, 0.00, 0.23, 0.00}
\definecolor{BlackBlack}{cmyk}  {0.00, 0.00, 0.00, 0.40}
\definecolor{BlueBlue}{cmyk}    {0.20, 0.00, 0.00, 0.00}
\definecolor{BrownBrown}{cmyk}  {0.00, 0.17, 0.39, 0.20}
\definecolor{GrayGray}{cmyk}    {0.00, 0.00, 0.00, 0.20}
\definecolor{GreenGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{OrangeOrange}{cmyk}{0.00, 0.30, 0.80, 0.00}
\definecolor{PinkPink}{cmyk}    {0.00, 0.15, 0.00, 0.00}
\definecolor{PurplePurple}{cmyk}{0.00, 0.55, 0.00, 0.14}
\definecolor{YellowYellow}{cmyk}{0.00, 0.00, 0.33, 0.00}

\textblockorigin{0.00cm}{+0.15cm} %HP DeskJet 5160
% \textblockorigin{0.30cm}{0.35cm} % w5 LaserJet
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\usepackage{array}
\newcommand{\myseat}[4]{%
	% \vspace{-0.1cm}
	\vspace{0.1cm}
	\parbox[t][2.5cm][t]{3.5cm}{
	\small #1 % \normalsize
	\begin{description}
	\vspace{-0.1cm}
	\item [ID:] #2
	\vspace{-0.1cm}
	\item [Team:] #3 \normalsize
	\vspace{-0.1cm}
	\item \normalsize #4
	\vspace{-0.1cm}
	\end{description}
	}
}

\begin{document}

\begin{textblock}{2.5}(0,0)
\textblocklabel{47}
\textblockcolor{[* $s47{team} *]}
\myseat{[* $s47{color} *]}{[* $s47{id} *]}{[* $s47{team} *]}{[* $s47{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,0)
\textblocklabel{37}
\textblockcolor{[* $s37{team} *]}
\myseat{[* $s37{color} *]}{[* $s37{id} *]}{[* $s37{team} *]}{[* $s37{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,0)
\textblocklabel{27}
\textblockcolor{[* $s27{team} *]}
\myseat{[* $s27{color} *]}{[* $s27{id} *]}{[* $s27{team} *]}{[* $s27{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,0)
\textblocklabel{17}
\textblockcolor{[* $s17{team} *]}
\myseat{[* $s17{color} *]}{[* $s17{id} *]}{[* $s17{team} *]}{[* $s17{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,0)
\textblocklabel{09}
\textblockcolor{[* $s09{team} *]}
\myseat{[* $s09{color} *]}{[* $s09{id} *]}{[* $s09{team} *]}{[* $s09{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,0)
\textblocklabel{01}
\textblockcolor{[* $s01{team} *]}
\myseat{[* $s01{color} *]}{[* $s01{id} *]}{[* $s01{team} *]}{[* $s01{name} *]}
\end{textblock}


\begin{textblock}{2.5}(0,1.4)
\textblocklabel{48}
\textblockcolor{[* $s48{team} *]}
	\myseat{[* $s48{color} *]}{[* $s48{id} *]}{[* $s48{team} *]}{[* $s48{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,1.4)
\textblocklabel{38}
\textblockcolor{[* $s38{team} *]}
	\myseat{[* $s38{color} *]}{[* $s38{id} *]}{[* $s38{team} *]}{[* $s38{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,1.4)
\textblocklabel{28}
\textblockcolor{[* $s28{team} *]}
	\myseat{[* $s28{color} *]}{[* $s28{id} *]}{[* $s28{team} *]}{[* $s28{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,1.4)
\textblocklabel{18}
\textblockcolor{[* $s18{team} *]}
	\myseat{[* $s18{color} *]}{[* $s18{id} *]}{[* $s18{team} *]}{[* $s18{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,1.4)
\textblocklabel{10}
\textblockcolor{[* $s10{team} *]}
	\myseat{[* $s10{color} *]}{[* $s10{id} *]}{[* $s10{team} *]}{[* $s10{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,1.4)
\textblocklabel{02}
\textblockcolor{[* $s02{team} *]}
	\myseat{[* $s02{color} *]}{[* $s02{id} *]}{[* $s02{team} *]}{[* $s02{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,2.8)
\textblocklabel{49}
\textblockcolor{[* $s49{team} *]}
	\myseat{[* $s49{color} *]}{[* $s49{id} *]}{[* $s49{team} *]}{[* $s49{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,2.8)
\textblocklabel{39}
\textblockcolor{[* $s39{team} *]}
	\myseat{[* $s39{color} *]}{[* $s39{id} *]}{[* $s39{team} *]}{[* $s39{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,2.8)
\textblocklabel{29}
\textblockcolor{[* $s29{team} *]}
	\myseat{[* $s29{color} *]}{[* $s29{id} *]}{[* $s29{team} *]}{[* $s29{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,2.8)
\textblocklabel{19}
\textblockcolor{[* $s19{team} *]}
	\myseat{[* $s19{color} *]}{[* $s19{id} *]}{[* $s19{team} *]}{[* $s19{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,2.8)
\textblocklabel{11}
\textblockcolor{[* $s11{team} *]}
	\myseat{[* $s11{color} *]}{[* $s11{id} *]}{[* $s11{team} *]}{[* $s11{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,2.8)
\textblocklabel{03}
\textblockcolor{[* $s03{team} *]}
	\myseat{[* $s03{color} *]}{[* $s03{id} *]}{[* $s03{team} *]}{[* $s03{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,4.2)
\textblocklabel{50}
\textblockcolor{[* $s50{team} *]}
	\myseat{[* $s50{color} *]}{[* $s50{id} *]}{[* $s50{team} *]}{[* $s50{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,4.2)
\textblocklabel{40}
\textblockcolor{[* $s40{team} *]}
	\myseat{[* $s40{color} *]}{[* $s40{id} *]}{[* $s40{team} *]}{[* $s40{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,4.2)
\textblocklabel{30}
\textblockcolor{[* $s30{team} *]}
	\myseat{[* $s30{color} *]}{[* $s30{id} *]}{[* $s30{team} *]}{[* $s30{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,4.2)
\textblocklabel{20}
\textblockcolor{[* $s20{team} *]}
	\myseat{[* $s20{color} *]}{[* $s20{id} *]}{[* $s20{team} *]}{[* $s20{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,4.2)
\textblocklabel{12}
\textblockcolor{[* $s12{team} *]}
	\myseat{[* $s12{color} *]}{[* $s12{id} *]}{[* $s12{team} *]}{[* $s12{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,4.2)
\textblocklabel{04}
\textblockcolor{[* $s04{team} *]}
	\myseat{[* $s04{color} *]}{[* $s04{id} *]}{[* $s04{team} *]}{[* $s04{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,5.6)
\textblocklabel{51}
\textblockcolor{[* $s51{team} *]}
\myseat{[* $s51{color} *]}{[* $s51{id} *]}{[* $s51{team} *]}{[* $s51{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,5.6)
\textblocklabel{41}
\textblockcolor{[* $s41{team} *]}
\myseat{[* $s41{color} *]}{[* $s41{id} *]}{[* $s41{team} *]}{[* $s41{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,5.6)
\textblocklabel{31}
\textblockcolor{[* $s31{team} *]}
\myseat{[* $s31{color} *]}{[* $s31{id} *]}{[* $s31{team} *]}{[* $s31{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,5.6)
\textblocklabel{21}
\textblockcolor{[* $s21{team} *]}
\myseat{[* $s21{color} *]}{[* $s21{id} *]}{[* $s21{team} *]}{[* $s21{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,5.6)
\textblocklabel{13}
\textblockcolor{[* $s13{team} *]}
\myseat{[* $s13{color} *]}{[* $s13{id} *]}{[* $s13{team} *]}{[* $s13{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,5.6)
\textblocklabel{05}
\textblockcolor{[* $s05{team} *]}
\myseat{[* $s05{color} *]}{[* $s05{id} *]}{[* $s05{team} *]}{[* $s05{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,7)
\textblocklabel{52}
\textblockcolor{[* $s52{team} *]}
\myseat{[* $s52{color} *]}{[* $s52{id} *]}{[* $s52{team} *]}{[* $s52{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,7)
\textblocklabel{42}
\textblockcolor{[* $s42{team} *]}
\myseat{[* $s42{color} *]}{[* $s42{id} *]}{[* $s42{team} *]}{[* $s42{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,7)
\textblocklabel{32}
\textblockcolor{[* $s32{team} *]}
\myseat{[* $s32{color} *]}{[* $s32{id} *]}{[* $s32{team} *]}{[* $s32{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,7)
\textblocklabel{22}
\textblockcolor{[* $s22{team} *]}
\myseat{[* $s22{color} *]}{[* $s22{id} *]}{[* $s22{team} *]}{[* $s22{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,7)
\textblocklabel{14}
\textblockcolor{[* $s14{team} *]}
\myseat{[* $s14{color} *]}{[* $s14{id} *]}{[* $s14{team} *]}{[* $s14{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,7)
\textblocklabel{06}
\textblockcolor{[* $s06{team} *]}
\myseat{[* $s06{color} *]}{[* $s06{id} *]}{[* $s06{team} *]}{[* $s06{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,8.4)
\textblocklabel{53}
\textblockcolor{[* $s53{team} *]}
\myseat{[* $s53{color} *]}{[* $s53{id} *]}{[* $s53{team} *]}{[* $s53{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,8.4)
\textblocklabel{43}
\textblockcolor{[* $s43{team} *]}
\myseat{[* $s43{color} *]}{[* $s43{id} *]}{[* $s43{team} *]}{[* $s43{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,8.4)
\textblocklabel{33}
\textblockcolor{[* $s33{team} *]}
\myseat{[* $s33{color} *]}{[* $s33{id} *]}{[* $s33{team} *]}{[* $s33{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,8.4)
\textblocklabel{23}
\textblockcolor{[* $s23{team} *]}
\myseat{[* $s23{color} *]}{[* $s23{id} *]}{[* $s23{team} *]}{[* $s23{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,8.4)
\textblocklabel{15}
\textblockcolor{[* $s15{team} *]}
\myseat{[* $s15{color} *]}{[* $s15{id} *]}{[* $s15{team} *]}{[* $s15{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,8.4)
\textblocklabel{07}
\textblockcolor{[* $s07{team} *]}
\myseat{[* $s07{color} *]}{[* $s07{id} *]}{[* $s07{team} *]}{[* $s07{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,9.8)
\textblocklabel{54}
\textblockcolor{[* $s54{team} *]}
\myseat{[* $s54{color} *]}{[* $s54{id} *]}{[* $s54{team} *]}{[* $s54{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,9.8)
\textblocklabel{44}
\textblockcolor{[* $s44{team} *]}
\myseat{[* $s44{color} *]}{[* $s44{id} *]}{[* $s44{team} *]}{[* $s44{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,9.8)
\textblocklabel{34}
\textblockcolor{[* $s34{team} *]}
\myseat{[* $s34{color} *]}{[* $s34{id} *]}{[* $s34{team} *]}{[* $s34{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,9.8)
\textblocklabel{24}
\textblockcolor{[* $s24{team} *]}
\myseat{[* $s24{color} *]}{[* $s24{id} *]}{[* $s24{team} *]}{[* $s24{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,9.8)
\textblocklabel{16}
\textblockcolor{[* $s16{team} *]}
\myseat{[* $s16{color} *]}{[* $s16{id} *]}{[* $s16{team} *]}{[* $s16{name} *]}
\end{textblock}

\begin{textblock}{2.5}(12.5,9.8)
\textblocklabel{08}
\textblockcolor{[* $s08{team} *]}
\myseat{[* $s08{color} *]}{[* $s08{id} *]}{[* $s08{team} *]}{[* $s08{name} *]}
\end{textblock}

\begin{textblock}{2.5}(0,11.2)
\textblocklabel{55}
\textblockcolor{[* $s55{team} *]}
\myseat{[* $s55{color} *]}{[* $s55{id} *]}{[* $s55{team} *]}{[* $s55{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,11.2)
\textblocklabel{45}
\textblockcolor{[* $s45{team} *]}
\myseat{[* $s45{color} *]}{[* $s45{id} *]}{[* $s45{team} *]}{[* $s45{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,11.2)
\textblocklabel{35}
\textblockcolor{[* $s35{team} *]}
\myseat{[* $s35{color} *]}{[* $s35{id} *]}{[* $s35{team} *]}{[* $s35{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,11.2)
\textblocklabel{25}
\textblockcolor{[* $s25{team} *]}
\myseat{[* $s25{color} *]}{[* $s25{id} *]}{[* $s25{team} *]}{[* $s25{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,11.2)
\textblocklabel{25a}
\textblockcolor{[* $s25a{team} *]}
\myseat{25a}{[*$s25a{id}*]}{[* $s25a{team}*]}{[* $s25a{name}*]}
\end{textblock}

\begin{textblock}{2.5}(12.5,11.2)
\textblocklabel{25b}
\textblockcolor{[* $s25b{team} *]}
\myseat{25b}{[*$s25b{id}*]}{[* $s25b{team}*]}{[* $s25b{name}*]}
\end{textblock}

\begin{textblock}{2.5}(0,12.6)
\textblocklabel{56}
\textblockcolor{[* $s56{team} *]}
\myseat{[* $s56{color} *]}{[* $s56{id} *]}{[* $s56{team} *]}{[* $s56{name} *]}
\end{textblock}

\begin{textblock}{2.5}(2.5,12.6)
\textblocklabel{46}
\textblockcolor{[* $s46{team} *]}
\myseat{[* $s46{color} *]}{[* $s46{id} *]}{[* $s46{team} *]}{[* $s46{name} *]}
\end{textblock}

\begin{textblock}{2.5}(5,12.6)
\textblocklabel{36}
\textblockcolor{[* $s36{team} *]}
\myseat{[* $s36{color} *]}{[* $s36{id} *]}{[* $s36{team} *]}{[* $s36{name} *]}
\end{textblock}

\begin{textblock}{2.5}(7.5,12.6)
\textblocklabel{26}
\textblockcolor{[* $s26{team} *]}
\myseat{[* $s26{color} *]}{[* $s26{id} *]}{[* $s26{team} *]}{[* $s26{name} *]}
\end{textblock}

\begin{textblock}{2.5}(10,12.6)
\textblocklabel{26a}
\textblockcolor{[* $s26a{team} *]}
\myseat{26a}{[*$s26a{id}*]}{[* $s26a{team}*]}{[* $s26a{name}*]}
\end{textblock}

\begin{textblock}{2.5}(12.5,12.6)
\textblocklabel{26b}
\textblockcolor{[* $s26b{team} *]}
\myseat{26b}{[*$s26b{id}*]}{[* $s26b{team}*]}{[* $s26b{name}*]}
\end{textblock}

\begin{textblock}{7.5}(7.5,14)
\textblocklabel{title}
\textblockcolor{}
\parbox[t][2.2cm][t]{9.5cm}{%
\large Room 706, [* $league *]: [* $session *] session, Week: 
}
\end{textblock}

\end{document}
