[% META title = 'Round List' -%]

<p>[% league %] League</p>

<table>
<tr><th>Round<th>Story<th>Swiss round<th>Start<th>Stop
[% FOREACH r IN round -%]
  <tr>
    <td>[% r.id %]</td>
    <td>[% r.story %]</td>
    <td>[% r.swissround %]</td>
    <td>[% r.start %]</td>
    <td>[% r.stop %]</td>
    <td>
	<a href="[% c.uri_for('/play/') _ r.round %]">Go!</a>
    </td>
  </tr>
[% END -%]
</table>
