[% META title = 'Quiz List' -%]

<p>[% league %] League</p>

<table>
<tr><th>Topic<th>Story<th>Name
[% FOREACH q IN quiz -%]
  [% topic = q.topic story = q.story %]
  <tr>
    <td>[% q.topic %]</td>
    <td>[% q.story %]</td>
    <td>[% q.description %]</td>
    <td>
	<a href="[% c.uri_for('/play/') _ q.topic _ '/' _ q.story %]">Go!</a>
    </td>
  </tr>
[% END -%]
</table>
