%Last Edit: 2007 Mar 31, 06:31:38 PM
<tmpl>$autogen</tmpl>
\documentclass[b5paper]{article}
\usepackage[absolute,showboxes]{textpos}
\usepackage{amsfonts}
\usepackage{pifont}
% \textblockorigin{+0.35cm}{2.15cm}
% \textblockorigin{+0.35cm}{0.35cm} % HPDeskJet810C
% \textblockorigin{0.50cm}{1.10cm} % w5
\textblockorigin{0.25cm}{2.45cm} % HPLaserJ5000LE
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\newcommand{\mycard}[4]{%
	\addvspace{0.1cm}
	\small #1
	\normalsize
	\parbox[t][12.4cm][t]{7.8cm}{
		\begin{Large} <tmpl>$league</tmpl> Pairwork \end{Large}
		\begin{description}
			\item [Round:] \hspace{0.5cm} \begin{large}<tmpl>$round</tmpl>\hspace{0.5cm}Bye: <tmpl>$bye</tmpl> <tmpl>$byeId</tmpl> \end{large}
			\vspace{-0.2cm}
			\item [Assistants:] \begin{large}<tmpl>$assistant[0]</tmpl> <tmpl>$assistantId[0]</tmpl>\hspace{0.1cm} <tmpl>$assistant[1]</tmpl> <tmpl>$assistantId[1]</tmpl>\hspace{0.1cm} <tmpl>$assistant[2]</tmpl> <tmpl>$assistantId[2]</tmpl>\hspace{0.1cm} <tmpl>$assistant[3]</tmpl> <tmpl>$assistantId[3]</tmpl> \end{large}
			\vspace{-0.2cm}
			\item [Week:] \hspace{0.5cm}<tmpl>$week</tmpl>
			\vspace{-0.2cm}
			\item [Group:] #2
			\vspace{-0.2cm}
			\item [A:] #3
			\item [B:] #4
			\vspace{-0.2cm}
			\item [Letters:] \begin{Large}\rule{2.0cm}{0.3pt}/<tmpl>$indLetters</tmpl>\end{Large}
			\vspace{-0.2cm}
			\item [Partners' Letters:] \begin{Large}\rule{2.0cm}{0.3pt}/<tmpl>$indLetters</tmpl>\end{Large}
			\vspace{-0.2cm}
			\item [Total Letters:] \begin{Large}\rule{2.0cm}{0.3pt}/<tmpl>$groupLetters</tmpl>\end{Large}
			\vspace{-0.2cm}
			\item [Points:] \begin{Large}\rule{2.0cm}{0.3pt}/<tmpl>$grades[-1]</tmpl>\end{Large}
			\vspace{-0.2cm}
			\item [Rules:] \normalsize 1. Read your partner your words and write his/her words. \vspace{-0.2cm} \par 2. DO NOT PICK YOUR CARD UP FROM THE TABLE. \vspace{-0.2cm} \par 3. DO NOT LOOK OR POINT AT YOUR PARTNER'S CARD. \vspace{-0.2cm} \par 4. NO CHINESE. Everytime you use Chinese you lose 1 of your 15 points. \vspace{-0.2cm} \par 5. Stop after 3 minutes. \vspace{-0.2cm} 
		\end{description}
	}
}
\begin{document}

