\documentclass[a3paper]{article}
\usepackage[absolute]{textpos}
\usepackage{xeCJK}
\setCJKmainfont{WenQuanYi Zen Hei}
\usepackage[usenames]{color}
\definecolor{Black}{cmyk}       {0.00, 0.00, 0.00, 0.30}
\definecolor{Brown}{cmyk}       {0.00, 0.17, 0.39, 0.12}
\definecolor{DarkBlue}{cmyk}    {0.30, 0.00, 0.00, 0.20}
\definecolor{DarkGreen}{cmyk}   {0.50, 0.10, 0.50, 0.10}
\definecolor{Gray}{cmyk}        {0.00, 0.00, 0.00, 0.10}
\definecolor{Blue}{cmyk}        {0.15, 0.00, 0.00, 0.00}
\definecolor{Green}{cmyk}       {0.30, 0.00, 0.30, 0.00}
\definecolor{LightGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{LightBlue}{cmyk}   {0.20, 0.00, 0.00, 0.00}
\definecolor{Orange}{cmyk}      {0.00, 0.20, 0.55, 0.00}
\definecolor{Pink}{cmyk}        {0.00, 0.15, 0.00, 0.00}
\definecolor{Purple}{cmyk}      {0.00, 0.45, 0.00, 0.07}
\definecolor{Red}{cmyk}         {0.00, 0.50, 0.50, 0.00}
\definecolor{White}{cmyk}       {0.00, 0.00, 0.00, 0.00}
\definecolor{Yellow}{cmyk}      {0.00, 0.00, 0.23, 0.00}
\definecolor{BlackBlack}{cmyk}  {0.00, 0.00, 0.00, 0.40}
\definecolor{BlueBlue}{cmyk}    {0.20, 0.00, 0.00, 0.00}
\definecolor{BrownBrown}{cmyk}  {0.00, 0.17, 0.39, 0.20}
\definecolor{GrayGray}{cmyk}    {0.00, 0.00, 0.00, 0.20}
\definecolor{GreenGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{OrangeOrange}{cmyk}{0.00, 0.30, 0.80, 0.00}
\definecolor{PinkPink}{cmyk}    {0.00, 0.15, 0.00, 0.00}
\definecolor{PurplePurple}{cmyk}{0.00, 0.55, 0.00, 0.14}
\definecolor{YellowYellow}{cmyk}{0.00, 0.00, 0.33, 0.00}

\textblockorigin{0.00cm}{0.00cm} % Ricoh
% \textblockorigin{0.00cm}{+0.15cm} %HP DeskJet 5160
% \textblockorigin{0.30cm}{0.35cm} % w5 LaserJet
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\usepackage{array}
\newcommand{\myseat}[4]{%
	% \vspace{-0.1cm}
	\vspace{0.1cm}
	\parbox[t][4.6cm][t]{3.5cm}{
	\small #1 % \normalsize
	\begin{description}
	\vspace{-0.1cm}
	\item [ID:] #2
	\vspace{-0.1cm}
	\item [Team:] #3 \normalsize
	\vspace{-0.3cm}
	\item \Large #4
	\vspace{-0.1cm}
	\end{description}
	}
}

\begin{document}

\TPoptions{showboxes = false}

\begin{textblock}{3.1}(8,1)
\textblocklabel{47}
\textblockcolor{[* $s47{color} *]}
\Huge Dr Bean
\end{textblock}

% Row 1

\begin{textblock}{3.1}(1.5,0.1)
\textblocklabel{Front left-hand corner}
\textblockcolor{[* $s47{color} *]}
\Huge Table 1
\end{textblock}

\TPoptions{showboxes = true}

\begin{textblock}{3.1}(1,0.5)
\textblocklabel{1-1}
\textblockcolor{[* $s11{color} *]}
\myseat{1-1}{[* $s11{id} *]}{[* $s11{team} *]}{[* $s11{name} *]}
\end{textblock}

\begin{textblock}{3.1}(4.1,0.5)
\textblocklabel{1-2}
\textblockcolor{[* $s12{color} *]}
\myseat{1-2}{[* $s12{id} *]}{[* $s12{team} *]}{[* $s12{name} *]}
\end{textblock}

% begin{textblock}{3.1}(8.8,0.5)
% textblocklabel{09}
% textblockcolor{[* $s09{color} *]}
% myseat{09}{[* $s09{id} *]}{[* $s09{team} *]}{[* $s09{name} *]}
% end{textblock}
% 
% begin{textblock}{3.1}(11.9,0.5)
% textblocklabel{01}
% textblockcolor{[* $s01{color} *]}
% myseat{01}{[* $s01{id} *]}{[* $s01{team} *]}{[* $s01{name} *]}
% end{textblock}

% Row 2

\TPoptions{showboxes = false}

\begin{textblock}{3.1}(9,3.1)
\textblocklabel{Front right-hand corner}
\textblockcolor{[* $s47{color} *]}
\Huge Table 4
\end{textblock}

\TPoptions{showboxes = true}

\begin{textblock}{3.1}(1,3.1)
\textblocklabel{1-3}
\textblockcolor{[* $s13{color} *]}
\myseat{1-3}{[* $s13{id} *]}{[* $s13{team} *]}{[* $s13{name} *]}
\end{textblock}

\begin{textblock}{3.1}(4.1,3.1)
\textblocklabel{1-4}
\textblockcolor{[* $s14{color} *]}
	\myseat{1-4}{[* $s14{id} *]}{[* $s14{team} *]}{[* $s14{name} *]}
\end{textblock}

\begin{textblock}{3.1}(8.8,3.1)
\textblocklabel{4-1}
\textblockcolor{[* $s41{color} *]}
	\myseat{4-1}{[* $s41{id} *]}{[* $s41{team} *]}{[* $s41{name} *]}
\end{textblock}

\begin{textblock}{3.1}(11.9,3.1)
\textblocklabel{4-2}
\textblockcolor{[* $s42{color} *]}
	\myseat{4-2}{[* $s42{id} *]}{[* $s42{team} *]}{[* $s42{name} *]}
\end{textblock}

% Row 3

\begin{textblock}{3.1}(1,5.7)
\textblocklabel{1-5}
\textblockcolor{[* $s15{color} *]}
	\myseat{1-5}{[* $s15{id} *]}{[* $s15{team} *]}{[* $s15{name} *]}
\end{textblock}

\begin{textblock}{3.1}(4.1,5.7)
\textblocklabel{1-6}
\textblockcolor{[* $s16{color} *]}
	\myseat{1-6}{[* $s16{id} *]}{[* $s16{team} *]}{[* $s16{name} *]}
\end{textblock}

\begin{textblock}{3.1}(8.8,5.7)
\textblocklabel{4-3}
\textblockcolor{[* $s43{color} *]}
	\myseat{4-3}{[* $s43{id} *]}{[* $s43{team} *]}{[* $s43{name} *]}
\end{textblock}

\begin{textblock}{3.1}(11.9,5.7)
\textblocklabel{4-4}
\textblockcolor{[* $s44{color} *]}
	\myseat{4-4}{[* $s44{id} *]}{[* $s44{team} *]}{[* $s44{name} *]}
\end{textblock}

% Row 4

\TPoptions{showboxes = false}

\begin{textblock}{3.1}(1.5,9.0)
\textblocklabel{Back left-hand corner}
\textblockcolor{[* $s47{color} *]}
\Huge Table 2
\end{textblock}

\begin{textblock}{3.1}(9,9.0)
\textblocklabel{Back right-hand corner}
\textblockcolor{[* $s47{color} *]}
\Huge Table 3
\end{textblock}

\TPoptions{showboxes = true}


\begin{textblock}{3.1}(1,10.0)
\textblocklabel{2-1}
\textblockcolor{[* $s21{color} *]}
	\myseat{2-1}{[* $s21{id} *]}{[* $s21{team} *]}{[* $s21{name} *]}
\end{textblock}

\begin{textblock}{3.1}(4.1,10.0)
\textblocklabel{2-2}
\textblockcolor{[* $s22{color} *]}
	\myseat{2-2}{[* $s22{id} *]}{[* $s22{team} *]}{[* $s22{name} *]}
\end{textblock}

\begin{textblock}{3.1}(8.8,10.0)
\textblocklabel{3-1}
\textblockcolor{[* $s31{color} *]}
	\myseat{3-1}{[* $s31{id} *]}{[* $s31{team} *]}{[* $s31{name} *]}
\end{textblock}

\begin{textblock}{3.1}(11.9,10.0)
\textblocklabel{3-2}
\textblockcolor{[* $s32{color} *]}
	\myseat{3-2}{[* $s32{id} *]}{[* $s32{team} *]}{[* $s32{name} *]}
\end{textblock}

% Row 5


\begin{textblock}{3.1}(1,12.6)
\textblocklabel{2-3}
\textblockcolor{[* $s23{color} *]}
\myseat{2-2}{[* $s23{id} *]}{[* $s23{team} *]}{[* $s23{name} *]}
\end{textblock}

\begin{textblock}{3.1}(4.1,12.6)
\textblocklabel{2-4}
\textblockcolor{[* $s24{color} *]}
\myseat{2-4}{[* $s24{id} *]}{[* $s24{team} *]}{[* $s24{name} *]}
\end{textblock}

\begin{textblock}{3.1}(8.8,12.6)
\textblocklabel{3-3}
\textblockcolor{[* $s33{color} *]}
\myseat{3-3}{[* $s33{id} *]}{[* $s33{team} *]}{[* $s33{name} *]}
\end{textblock}

\begin{textblock}{3.1}(11.9,12.6)
\textblocklabel{3-4}
\textblockcolor{[* $s34{color} *]}
\myseat{3-3}{[* $s34{id} *]}{[* $s34{team} *]}{[* $s34{name} *]}
\end{textblock}

\TPoptions{showboxes = false}

\begin{textblock}{7.5}(7.5,15.5)
\textblocklabel{title}
\textblockcolor{}
\parbox[t][2.2cm][t]{9.5cm}{%
\large Room Saturn, [* $league *]: [* $session *] session, Week: 
}
\end{textblock}

\end{document}
