<TMPL>$autogen</TMPL>
\documentclass[b5paper]{article}
\usepackage[T1]{fontenc}
% \usepackage[absolute,noshowtext,showboxes]{textpos}
\usepackage[absolute,showboxes]{textpos}
\TPMargin{0.2cm}
\usepackage{pifont}
\usepackage{amsfonts}
\textblockorigin{+1.75cm}{0.45cm} % HPLaserJ 2300
% \textblockorigin{0.30cm}{0.35cm} %HPDeskJet5160
% \textblockorigin{0.05cm}{0.70cm} % A4 HPLaserJ5000LE
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\renewcommand{\baselinestretch}{0.5}

\newcommand{\myshortquestion}[5]{%
\begin{minipage}{7.5cm}
\vspace{-0.1cm}
\textbf{#1} \\
\indent \textbf {} #2 \textbf {} #3 \textbf {} #4 \textbf {} #5
\end{minipage}
}

\newcommand{\myquestion}[4]{%
\begin{minipage}{7.5cm}
\vspace{-0.1cm}
\textbf{#1}
\vspace{-0.1cm}
\begin{description}
\vspace{-0.1cm}
\item [a] #2
\vspace{-0.2cm}
\item [b] #3
\vspace{-0.1cm}
\item [c] #4
\vspace{-0.1cm}
\end{description}
\end{minipage}
}

\newcommand{\myblock}[<TMPL>$questionN</TMPL>]{%
\begin{minipage}{7.5cm}
\begin{description}
<TMPL>$questions</TMPL>
\end{description}
\end{minipage}
\par
\vspace{0.5cm}
}

\begin{document}

