%Last Edit: 2005 Nov 07, 04:35:05 PM
<tmpl>$autogen</tmpl>
\documentclass[b5paper]{article}
\usepackage[absolute,showboxes]{textpos}
\usepackage{amsfonts}
\usepackage{pifont}
\textblockorigin{+0.35cm}{2.15cm}
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\newcommand{\mycard}[4]{%
	\addvspace{0.1cm}
	\small #1
	\normalsize
	% \parbox[t][12.1cm][t]{7.8cm}{
	\begin{minipage}[t]{7.8cm}
		\begin{Large} <tmpl>$league</tmpl> Pairwork \end{Large}
		\begin{description}
			\item [Round:] \hspace{0.5cm} \begin{large}<tmpl>$round</tmpl>\hspace{0.5cm}\end{large}
			\vspace{-0.2cm}
			% \item [Assistants:] \begin{large}<tmpl>$assistant[0]</tmpl> <tmpl>$id{$assistant[0]}</tmpl>, <tmpl>$assistant[1]</tmpl> <tmpl>$id{$assistant[1]}</tmpl>, <tmpl>$assistant[2]</tmpl> <tmpl>$id{$assistant[2]}</tmpl> \end{large}
			\vspace{-0.2cm}
			\item [Week:] \hspace{0.5cm}<tmpl>$week</tmpl>
			\vspace{-0.2cm}
			\item [Table:] #2
			\vspace{-0.2cm}
			\item [A:] #3
			\item [B:] #4
			\vspace{-0.2cm}
			\item [Letters:] \begin{Large}\rule{2.0cm}{0.3pt}/100\end{Large}
			\vspace{-0.2cm}
			\item [Partners' Letters:] \rule{2.0cm}{0.3pt}/100
			\vspace{-0.2cm}
			\item [Total Letters:] \rule{2.0cm}{0.3pt}/200
			\vspace{-0.2cm}
			\item [Points:] \begin{Large}\rule{2.0cm}{0.3pt}/20\end{Large}
			\vspace{-0.2cm}
			\item [Rules:] \normalsize 1. Read your partner your words and write his/her words. \vspace{-0.2cm} \par 2. DO NOT PICK YOUR CARD UP FROM THE TABLE. \vspace{-0.2cm} \par 3. DO NOT LOOK OR POINT AT YOUR PARTNER'S CARD. \vspace{-0.2cm} \par 4. NO CHINESE. Everytime you use Chinese you lose 2 of your 20 points. \vspace{-0.2cm} \par 5. Stop after 3 minutes. \vspace{-0.2cm} \par 6. Your score is the total number of letters you and your partner get correct, divided by 10. \vspace{0.6cm}
		\end{description}
	\end{minipage}
}
\begin{document}

