<TMPL>$autogen</TMPL>
\documentclass[a4paper]{article}
\usepackage[T1]{fontenc}
\usepackage{xeCJK}
\setCJKmainfont{WenQuanYi Zen Hei}
% \usepackage[absolute,noshowtext,showboxes]{textpos}
\usepackage[absolute]{textpos}
\TPMargin{0.2cm}
\usepackage{pifont}
\usepackage{amsfonts}
\usepackage{graphicx}
% \usepackage{newunicodechar}
\usepackage{fixltx2e}

% \textblockorigin{0.30cm}{2.15cm}
\textblockorigin{0.05cm}{0.03cm} %HPDeskJet5160
% \textblockorigin{0.30cm}{3.35cm} % w5
% \textblockorigin{0.25cm}{2.45cm} % HPLaserJ5000LE
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\renewcommand{\baselinestretch}{0.5}

\newcommand{\mycard}[1]{%
\tiny <TMPL>$cardIdentifier</TMPL>\\%
% \begin{minipage}[t][3.9cm][t]{8.5cm}
% \begin{minipage}{8.5cm}
  \normalsize #1
% \end{minipage}
}

\newcommand{\1}[1]{%
\begin{picture}(0.5,0.5)
\put (0,0){\framebox(0.46,0.46)[br]{\tiny #1}}
\end{picture}%
}

% \newunicodechar{▢}{\sq}
% \newcommand{\2}{%
% *%
% % \includegraphics{/home/drbean/class/ttb/dictation/total/cards.p2}%
% }
\newcommand{\2}[2]{%
% \begin{picture}(0.5,0.5)
% \put (0,0){\makebox(0,0){#2}\makebox(0,0)[br]{\tiny #1}}
#1\textsubscript{\tiny #2}%
% \end{picture}%
}


\begin{document}

