<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>

 Room 705 seating chart


  </title>

      <link rel="stylesheet" type="text/css" href="basic/css/kwiki.css" />
        <link rel="stylesheet" type="text/css" href="toolbar.css" />
        <link rel="stylesheet" type="text/css" href="formatter.css" />
    <link rel="shortcut icon" href="ConversationdDictations" />
  <link rel="start" href="http://momotaro/HomePage/index.cgi" title="Home" />
</head>
<body>
</body>
<TABLE border="1"
          summary="Seating chart for 705">
<CAPTION><EM>[*  $league *]</EM></CAPTION>
<TR><TD>08 [* $s08{id} *] [* $s08{team} *] [* $s08{name} *]
    <TD>07 [* $s07{id} *] [* $s07{team} *] [* $s07{name} *]
    <TD>06 [* $s06{id} *] [* $s06{team} *] [* $s06{name} *]
    <TD>05 [* $s05{id} *] [* $s05{team} *] [* $s05{name} *]
    <TD>04 [* $s04{id} *] [* $s04{team} *] [* $s04{name} *]
    <TD>03 [* $s03{id} *] [* $s03{team} *] [* $s03{name} *]
    <TD>02 [* $s02{id} *] [* $s02{team} *] [* $s02{name} *]
    <TD>01 [* $s01{id} *] [* $s01{team} *] [* $s01{name} *]
<TR><TD>16 [* $s16{id} *] [* $s16{team} *] [* $s16{name} *]
    <TD>15 [* $s15{id} *] [* $s15{team} *] [* $s15{name} *]
    <TD>14 [* $s14{id} *] [* $s14{team} *] [* $s14{name} *]
    <TD>13 [* $s13{id} *] [* $s13{team} *] [* $s13{name} *]
    <TD>12 [* $s12{id} *] [* $s12{team} *] [* $s12{name} *]
    <TD>11 [* $s11{id} *] [* $s11{team} *] [* $s11{name} *]
    <TD>10 [* $s10{id} *] [* $s10{team} *] [* $s10{name} *]
    <TD>09 [* $s09{id} *] [* $s09{team} *] [* $s09{name} *]
<TR><TD>24 [* $s24{id} *] [* $s24{team} *] [* $s24{name} *]
    <TD>23 [* $s23{id} *] [* $s23{team} *] [* $s23{name} *]
    <TD>22 [* $s22{id} *] [* $s22{team} *] [* $s22{name} *]
    <TD>21 [* $s21{id} *] [* $s21{team} *] [* $s21{name} *]
    <TD>20 [* $s20{id} *] [* $s20{team} *] [* $s20{name} *]
    <TD>19 [* $s19{id} *] [* $s19{team} *] [* $s19{name} *]
    <TD>18 [* $s18{id} *] [* $s18{team} *] [* $s18{name} *]
    <TD>17 [* $s17{id} *] [* $s17{team} *] [* $s17{name} *]
<TR><TD>32 [* $s32{id} *] [* $s32{team} *] [* $s32{name} *]
    <TD>31 [* $s31{id} *] [* $s31{team} *] [* $s31{name} *]
    <TD>30 [* $s30{id} *] [* $s30{team} *] [* $s30{name} *]
    <TD>29 [* $s29{id} *] [* $s29{team} *] [* $s29{name} *]
    <TD>28 [* $s28{id} *] [* $s28{team} *] [* $s28{name} *]
    <TD>27 [* $s27{id} *] [* $s27{team} *] [* $s27{name} *]
    <TD>26 [* $s26{id} *] [* $s26{team} *] [* $s26{name} *]
    <TD>25 [* $s25{id} *] [* $s25{team} *] [* $s25{name} *]
<TR><TH rowspan="2"><TH colspan="2">Average
    <TH rowspan="2">Red<BR>eyes
</TABLE>

</html>



