<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>

 Room 706 seating chart


  </title>

</head>
<body>
</body>
<TABLE border="1"
          summary="Seating chart for 705">
<CAPTION><EM>[*  $league *]: [* $session *] session</EM></CAPTION>
<TR>
    <TD bgcolor="[* $s01{team} *]">01 <br>[* $s01{id} *] <br>[* $s01{team} *] <br>[* $s01{name} *]
    <TD bgcolor="[* $s02{team} *]">02 <br>[* $s02{id} *] <br>[* $s02{team} *] <br>[* $s02{name} *]
    <TD bgcolor="[* $s03{team} *]">03 <br>[* $s03{id} *] <br>[* $s03{team} *] <br>[* $s03{name} *]
    <TD bgcolor="[* $s04{team} *]">04 <br>[* $s04{id} *] <br>[* $s04{team} *] <br>[* $s04{name} *]
    <TD bgcolor="[* $s05{team} *]">05 <br>[* $s05{id} *] <br>[* $s05{team} *] <br>[* $s05{name} *]
    <TD bgcolor="[* $s06{team} *]">06 <br>[* $s06{id} *] <br>[* $s06{team} *] <br>[* $s06{name} *]
    <TD bgcolor="[* $s07{team} *]">07 <br>[* $s07{id} *] <br>[* $s07{team} *] <br>[* $s07{name} *]
    <TD bgcolor="[* $s08{team} *]">08 <br>[* $s08{id} *] <br>[* $s08{team} *] <br>[* $s08{name} *]

<TR>
    <TD bgcolor="[* $s09{team} *]">09 <br>[* $s09{id} *] <br>[* $s09{team} *] <br>[* $s09{name} *]
    <TD bgcolor="[* $s10{team} *]">10 <br>[* $s10{id} *] <br>[* $s10{team} *] <br>[* $s10{name} *]
    <TD bgcolor="[* $s11{team} *]">11 <br>[* $s11{id} *] <br>[* $s11{team} *] <br>[* $s11{name} *]
    <TD bgcolor="[* $s12{team} *]">12 <br>[* $s12{id} *] <br>[* $s12{team} *] <br>[* $s12{name} *]
    <TD bgcolor="[* $s13{team} *]">13 <br>[* $s13{id} *] <br>[* $s13{team} *] <br>[* $s13{name} *]
    <TD bgcolor="[* $s14{team} *]">14 <br>[* $s14{id} *] <br>[* $s14{team} *] <br>[* $s14{name} *]
    <TD bgcolor="[* $s15{team} *]">15 <br>[* $s15{id} *] <br>[* $s15{team} *] <br>[* $s15{name} *]
    <TD bgcolor="[* $s16{team} *]">16 <br>[* $s16{id} *] <br>[* $s16{team} *] <br>[* $s16{name} *]
    <TD bgcolor="[* $s25a{team} *]">25a <br>[* $s25a{id} *] <br>[* $s25a{team} *] <br>[* $s25a{name} *]
    <TD bgcolor="[* $s26a{team} *]">26a <br>[* $s26a{id} *] <br>[* $s26a{team} *] <br>[* $s26a{name} *]

<TR>
    <TD bgcolor="[* $s17{team} *]">17 <br>[* $s17{id} *] <br>[* $s17{team} *] <br>[* $s17{name} *]
    <TD bgcolor="[* $s18{team} *]">18 <br>[* $s18{id} *] <br>[* $s18{team} *] <br>[* $s18{name} *]
    <TD bgcolor="[* $s19{team} *]">19 <br>[* $s19{id} *] <br>[* $s19{team} *] <br>[* $s19{name} *]
    <TD bgcolor="[* $s20{team} *]">20 <br>[* $s20{id} *] <br>[* $s20{team} *] <br>[* $s20{name} *]
    <TD bgcolor="[* $s21{team} *]">21 <br>[* $s21{id} *] <br>[* $s21{team} *] <br>[* $s21{name} *]
    <TD bgcolor="[* $s22{team} *]">22 <br>[* $s22{id} *] <br>[* $s22{team} *] <br>[* $s22{name} *]
    <TD bgcolor="[* $s23{team} *]">23 <br>[* $s23{id} *] <br>[* $s23{team} *] <br>[* $s23{name} *]
    <TD bgcolor="[* $s24{team} *]">24 <br>[* $s24{id} *] <br>[* $s24{team} *] <br>[* $s24{name} *]
    <TD bgcolor="[* $s25{team} *]">25 <br>[* $s25{id} *] <br>[* $s25{team} *] <br>[* $s25{name} *]
    <TD bgcolor="[* $s26{team} *]">26 <br>[* $s26{id} *] <br>[* $s26{team} *] <br>[* $s26{name} *]

<TR>
    <TD bgcolor="[* $s27{team} *]">27 <br>[* $s27{id} *] <br>[* $s27{team} *] <br>[* $s27{name} *]
    <TD bgcolor="[* $s28{team} *]">28 <br>[* $s28{id} *] <br>[* $s28{team} *] <br>[* $s28{name} *]
    <TD bgcolor="[* $s29{team} *]">29 <br>[* $s29{id} *] <br>[* $s29{team} *] <br>[* $s29{name} *]
    <TD bgcolor="[* $s30{team} *]">30 <br>[* $s30{id} *] <br>[* $s30{team} *] <br>[* $s30{name} *]
    <TD bgcolor="[* $s31{team} *]">31 <br>[* $s31{id} *] <br>[* $s31{team} *] <br>[* $s31{name} *]
    <TD bgcolor="[* $s32{team} *]">32 <br>[* $s32{id} *] <br>[* $s32{team} *] <br>[* $s32{name} *]
    <TD bgcolor="[* $s33{team} *]">33 <br>[* $s33{id} *] <br>[* $s33{team} *] <br>[* $s33{name} *]
    <TD bgcolor="[* $s34{team} *]">34 <br>[* $s34{id} *] <br>[* $s34{team} *] <br>[* $s34{name} *]
    <TD bgcolor="[* $s35{team} *]">35 <br>[* $s35{id} *] <br>[* $s35{team} *] <br>[* $s35{name} *]
    <TD bgcolor="[* $s36{team} *]">36 <br>[* $s36{id} *] <br>[* $s36{team} *] <br>[* $s36{name} *]

<TR>
    <TD bgcolor="[* $s37{team} *]">37 <br>[* $s37{id} *] <br>[* $s37{team} *] <br>[* $s37{name} *]
    <TD bgcolor="[* $s38{team} *]">38 <br>[* $s38{id} *] <br>[* $s38{team} *] <br>[* $s38{name} *]
    <TD bgcolor="[* $s39{team} *]">39 <br>[* $s39{id} *] <br>[* $s39{team} *] <br>[* $s39{name} *]
    <TD bgcolor="[* $s40{team} *]">40 <br>[* $s40{id} *] <br>[* $s40{team} *] <br>[* $s40{name} *]
    <TD bgcolor="[* $s41{team} *]">41 <br>[* $s41{id} *] <br>[* $s41{team} *] <br>[* $s41{name} *]
    <TD bgcolor="[* $s42{team} *]">42 <br>[* $s42{id} *] <br>[* $s42{team} *] <br>[* $s42{name} *]
    <TD bgcolor="[* $s43{team} *]">43 <br>[* $s43{id} *] <br>[* $s43{team} *] <br>[* $s43{name} *]
    <TD bgcolor="[* $s44{team} *]">44 <br>[* $s44{id} *] <br>[* $s44{team} *] <br>[* $s44{name} *]
    <TD bgcolor="[* $s45{team} *]">45 <br>[* $s45{id} *] <br>[* $s45{team} *] <br>[* $s45{name} *]
    <TD bgcolor="[* $s46{team} *]">46 <br>[* $s46{id} *] <br>[* $s46{team} *] <br>[* $s46{name} *]

<TR>
    <TD bgcolor="[* $s47{team} *]">47 <br>[* $s47{id} *] <br>[* $s47{team} *] <br>[* $s47{name} *]
    <TD bgcolor="[* $s48{team} *]">48 <br>[* $s48{id} *] <br>[* $s48{team} *] <br>[* $s48{name} *]
    <TD bgcolor="[* $s49{team} *]">49 <br>[* $s49{id} *] <br>[* $s49{team} *] <br>[* $s49{name} *]
    <TD bgcolor="[* $s50{team} *]">50 <br>[* $s50{id} *] <br>[* $s50{team} *] <br>[* $s50{name} *]
    <TD bgcolor="[* $s51{team} *]">51 <br>[* $s51{id} *] <br>[* $s51{team} *] <br>[* $s51{name} *]
    <TD bgcolor="[* $s52{team} *]">52 <br>[* $s52{id} *] <br>[* $s52{team} *] <br>[* $s52{name} *]
    <TD bgcolor="[* $s53{team} *]">53 <br>[* $s53{id} *] <br>[* $s53{team} *] <br>[* $s53{name} *]
    <TD bgcolor="[* $s54{team} *]">54 <br>[* $s54{id} *] <br>[* $s54{team} *] <br>[* $s54{name} *]
    <TD bgcolor="[* $s55{team} *]">55 <br>[* $s55{id} *] <br>[* $s55{team} *] <br>[* $s55{name} *]
    <TD bgcolor="[* $s56{team} *]">56 <br>[* $s56{id} *] <br>[* $s56{team} *] <br>[* $s56{name} *]

</TABLE>

</html>


