\documentclass[a4paper]{article}
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\usepackage{array}
\newcommand{\myseat}[4]{%
	\vspace{-0.1cm}
	% \vspace{0.1cm}
	\begin{minipage}{3.0cm}
	\small #1 \normalsize
	\begin{description}
	\vspace{-0.1cm}
		\item [ID:] #3
	\vspace{-0.1cm}
		\item [Team:] #2 \normalsize
	\vspace{-0.1cm}
		\item \Large #4
	\vspace{-0.1cm}
	\end{description}
	\vspace{+0.1cm}
	\end{minipage}
}
\begin{document}
\begin{picture}(15,20)(+4.5,-23.5)
\begin{tabular}[t]{|p{2.9cm}||p{2.9cm}|p{2.9cm}||p{2.9cm}|p{2.9cm}||p{2.9cm}|}
	\hline
	\myseat{47}{[* $s47{id} *]}{[* $s47{team} *]}{[* $s47{name} *]} &
	\myseat{37}{[* $s37{id} *]}{[* $s37{team} *]}{[* $s37{name} *]} &
	\myseat{27}{[* $s27{id} *]}{[* $s27{team} *]}{[* $s27{name} *]} &
	\myseat{17}{[* $s17{id} *]}{[* $s17{team} *]}{[* $s17{name} *]} &
	\myseat{09}{[* $s09{id} *]}{[* $s09{team} *]}{[* $s09{name} *]} &
	\myseat{01}{[* $s01{id} *]}{[* $s01{team} *]}{[* $s01{name} *]} \\ \hline
	\myseat{48}{[* $s48{id} *]}{[* $s48{team} *]}{[* $s48{name} *]} &
	\myseat{38}{[* $s38{id} *]}{[* $s38{team} *]}{[* $s38{name} *]} &
	\myseat{28}{[* $s28{id} *]}{[* $s28{team} *]}{[* $s28{name} *]} &
	\myseat{18}{[* $s18{id} *]}{[* $s18{team} *]}{[* $s18{name} *]} &
	\myseat{10}{[* $s10{id} *]}{[* $s10{team} *]}{[* $s10{name} *]} &
	\myseat{02}{[* $s02{id} *]}{[* $s02{team} *]}{[* $s02{name} *]} \\ \hline
	\myseat{49}{[* $s49{id} *]}{[* $s49{team} *]}{[* $s49{name} *]} &
	\myseat{39}{[* $s39{id} *]}{[* $s39{team} *]}{[* $s39{name} *]} &
	\myseat{29}{[* $s29{id} *]}{[* $s29{team} *]}{[* $s29{name} *]} &
	\myseat{19}{[* $s19{id} *]}{[* $s19{team} *]}{[* $s19{name} *]} &
	\myseat{11}{[* $s11{id} *]}{[* $s11{team} *]}{[* $s11{name} *]} &
	\myseat{03}{[* $s03{id} *]}{[* $s03{team} *]}{[* $s03{name} *]} \\ \hline
	\myseat{50}{[* $s50{id} *]}{[* $s50{team} *]}{[* $s50{name} *]} &
	\myseat{40}{[* $s40{id} *]}{[* $s40{team} *]}{[* $s40{name} *]} &
	\myseat{30}{[* $s30{id} *]}{[* $s30{team} *]}{[* $s30{name} *]} &
	\myseat{20}{[* $s20{id} *]}{[* $s20{team} *]}{[* $s20{name} *]} &
	\myseat{12}{[* $s12{id} *]}{[* $s12{team} *]}{[* $s12{name} *]} &
	\myseat{04}{[* $s04{id} *]}{[* $s04{team} *]}{[* $s04{name} *]} \\ \hline
	\hline
	\myseat{51}{[* $s51{id} *]}{[* $s51{team} *]}{[* $s51{name} *]} &
	\myseat{41}{[* $s41{id} *]}{[* $s41{team} *]}{[* $s41{name} *]} &
	\myseat{31}{[* $s31{id} *]}{[* $s31{team} *]}{[* $s31{name} *]} &
	\myseat{21}{[* $s21{id} *]}{[* $s21{team} *]}{[* $s21{name} *]} &
	\myseat{13}{[* $s13{id} *]}{[* $s13{team} *]}{[* $s13{name} *]} &
	\myseat{05}{[* $s05{id} *]}{[* $s05{team} *]}{[* $s05{name} *]} \\ \hline
	\myseat{52}{[* $s52{id} *]}{[* $s52{team} *]}{[* $s52{name} *]} &
	\myseat{42}{[* $s42{id} *]}{[* $s42{team} *]}{[* $s42{name} *]} &
	\myseat{32}{[* $s32{id} *]}{[* $s32{team} *]}{[* $s32{name} *]} &
	\myseat{22}{[* $s22{id} *]}{[* $s22{team} *]}{[* $s22{name} *]} &
	\myseat{14}{[* $s14{id} *]}{[* $s14{team} *]}{[* $s14{name} *]} &
	\myseat{06}{[* $s06{id} *]}{[* $s06{team} *]}{[* $s06{name} *]} \\ \hline
	\myseat{53}{[* $s53{id} *]}{[* $s53{team} *]}{[* $s53{name} *]} &
	\myseat{43}{[* $s43{id} *]}{[* $s43{team} *]}{[* $s43{name} *]} &
	\myseat{33}{[* $s33{id} *]}{[* $s33{team} *]}{[* $s33{name} *]} &
	\myseat{23}{[* $s23{id} *]}{[* $s23{team} *]}{[* $s23{name} *]} &
	\myseat{15}{[* $s15{id} *]}{[* $s15{team} *]}{[* $s15{name} *]} &
	\myseat{07}{[* $s07{id} *]}{[* $s07{team} *]}{[* $s07{name} *]} \\ \hline
	\myseat{54}{[* $s54{id} *]}{[* $s54{team} *]}{[* $s54{name} *]} &
	\myseat{44}{[* $s44{id} *]}{[* $s44{team} *]}{[* $s44{name} *]} & 
	\myseat{34}{[* $s34{id} *]}{[* $s34{team} *]}{[* $s34{name} *]} &
	\myseat{24}{[* $s24{id} *]}{[* $s24{team} *]}{[* $s24{name} *]} &
	\myseat{16}{[* $s16{id} *]}{[* $s16{team} *]}{[* $s16{name} *]} &
	\myseat{08}{[* $s08{id} *]}{[* $s08{team} *]}{[* $s08{name} *]} \\ \hline
	\myseat{55}{[* $s55{id} *]}{[* $s55{team} *]}{[* $s55{name} *]} &
	\myseat{45}{[* $s45{id} *]}{[* $s45{team} *]}{[* $s45{name} *]} &
	\myseat{35}{[* $s35{id} *]}{[* $s35{team} *]}{[* $s35{name} *]} &
	\myseat{25}{[* $s25{id} *]}{[* $s25{team} *]}{[* $s25{name} *]} &
	\myseat{25a}{[*$s25a{id}*]}{[* $s25a{team}*]}{[* $s25a{name}*]} &
	\myseat{25b}{[*$s25b{id}*]}{[* $s25b{team}*]}{[* $s25b{name}*]} \\ \hline
	\myseat{56}{[* $s56{id} *]}{[* $s56{team} *]}{[* $s56{name} *]} &
	\myseat{46}{[* $s46{id} *]}{[* $s46{team} *]}{[* $s46{name} *]} &
	\myseat{36}{[* $s36{id} *]}{[* $s36{team} *]}{[* $s36{name} *]} &
	\myseat{26}{[* $s26{id} *]}{[* $s26{team} *]}{[* $s26{name} *]} &
	\myseat{26a}{[*$s26a{id}*]}{[* $s26a{team}*]}{[* $s26a{name}*]} &
	\myseat{26b}{[*$s26b{id}*]}{[* $s26b{team}*]}{[* $s26b{name}*]} \\ \hline
\end{tabular}
\end{picture}
\end{document}
