\documentclass[a4paper]{article}
\usepackage[T1]{fontenc}
% \usepackage[absolute,noshowtext,showboxes]{textpos}
\usepackage[absolute,showboxes]{textpos}
% \textblockorigin{0.05cm}{1.75cm}
% \textblockorigin{0.05cm}{0.05cm}
\textblockorigin{0.05cm}{1.00cm}
\TPMargin{0.4cm}
\usepackage{texdraw}
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\newcommand{\mycard}[4]{%
	#1\\
	\parbox[t][6.0cm][c]{9.5cm}{%\vfill
	#2
	#3
	#4
	}
}

\newcommand{\1}[0]{%
	\begin{texdraw} \drawdim cm \rlvec(0 -0.5) \rlvec(0.5 0) \rlvec(0 0.5) \rlvec(-0.5 0) \rmove(0.55 0)
	\end{texdraw}%
}

\newcommand{\2}{%
	\begin{texdraw} \drawdim cm
	\rlvec(0 -0.3) \rlvec(0.3 0) \rlvec(0 0.3) \rlvec(-0.3 0) \ifill f:0 \rmove(0.35 0)
	\end{texdraw}%
}

\begin{document}
\fontfamily{hlst}\fontseries{b}\fontshape{n}\selectfont

