<TMPL>$autogen</TMPL>
\documentclass[a4paper]{article}
\usepackage[T1]{fontenc}
% \usepackage[absolute,noshowtext,showboxes]{textpos}
\usepackage[absolute,showboxes]{textpos}
\TPMargin{0.2cm}
\usepackage{pifont}
\usepackage{amsfonts}
% \textblockorigin{0.30cm}{0.35cm} %HPDeskJet810C
% \textblockorigin{0.30cm}{3.35cm} % LaserJet
\textblockorigin{0.05cm}{0.05cm} % HPLaserJ5000LE
\usepackage{texdraw}
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\renewcommand{\baselinestretch}{0.5}

\begin{document}

\begin{textblock}{20}(0,0)
\textblocklabel{picture0,0}
\huge <TMPL>$league</TMPL> Report for Round <TMPL>$round</TMPL>, Week <TMPL>$week</TMPL>\\
\normalsize AssistantScores: <TMPL>$assistantScores</TMPL> Byes: <TMPL>$byeScores</TMPL>\
\end{textblock}

\begin{textblock}{15}(0,1)
\begin{tabular}[b]{p{4.5cm}|p{4.5cm}|p{4.5cm}|p{4.5cm}}

\begin{minipage}[t]{4.5cm}

\Large Questions Correct\\
\normalsize
\begin{description}
<TMPL>$indScores</TMPL>
\end{description}

\end{minipage}

&

\begin{minipage}[t]{4.5cm}

\Large Group Questions Correct\\
\normalsize
\begin{description}
<TMPL>$groupScores</TMPL>
\end{description}

\end{minipage}

&

\begin{minipage}[t]{4.5cm}

\Large Points to Grade\\
\normalsize
\begin{description}
<TMPL>$points</TMPL>
\end{description}

\end{minipage}

&

\begin{minipage}[t]{4.5cm}

\Large Total Grade\\
\normalsize
\begin{description}
<TMPL>$grades</TMPL>
\end{description}

\end{minipage}

\end{tabular}
\end{textblock}

\end{document}
