\documentclass[a4paper]{article}
\newcommand{\printlandscape}{\special{landscape}}
\printlandscape
\usepackage[absolute,showboxes]{textpos}
\usepackage{xeCJK}
\setCJKmainfont{WenQuanYi Zen Hei}
\usepackage[usenames]{color}
\definecolor{Black}{cmyk}       {0.00, 0.00, 0.00, 0.30}
\definecolor{Brown}{cmyk}       {0.00, 0.17, 0.39, 0.12}
\definecolor{DarkBlue}{cmyk}    {0.70, 0.70, 0.00, 0.20}
\definecolor{DarkGreen}{cmyk}   {0.50, 0.10, 0.50, 0.10}
\definecolor{Gray}{cmyk}        {0.00, 0.00, 0.00, 0.10}
\definecolor{Blue}{cmyk}        {0.15, 0.00, 0.00, 0.00}
\definecolor{Green}{cmyk}       {0.30, 0.00, 0.30, 0.00}
\definecolor{LightGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{LightBlue}{cmyk}   {0.20, 0.00, 0.00, 0.00}
\definecolor{Orange}{cmyk}      {0.00, 0.20, 0.55, 0.00}
\definecolor{Pink}{cmyk}        {0.00, 0.15, 0.00, 0.00}
\definecolor{Purple}{cmyk}      {0.00, 0.45, 0.00, 0.07}
\definecolor{Red}{cmyk}         {0.00, 0.50, 0.50, 0.00}
\definecolor{White}{cmyk}       {0.00, 0.00, 0.00, 0.00}
\definecolor{Yellow}{cmyk}      {0.00, 0.00, 0.23, 0.00}
\definecolor{Charcoal}{cmyk}    {0.00, 0.00, 0.00, 0.40}
\definecolor{Chocolate}{cmyk}   {0.20, 0.00, 0.00, 0.00}
\definecolor{Khaki}{cmyk}       {0.00, 0.17, 0.39, 0.20}
\definecolor{Violet}{cmyk}      {0.33, 0.67, 0.00, 0.40}
\definecolor{Beige}{cmyk}       {0.00, 0.02, 0.09, 0.04}
\definecolor{Golden}{cmyk}      {0.00, 0.15, 0.70, 0.16}
\definecolor{Turquoise}{cmyk}   {0.77, 0.00, 0.00, 0.13}
\definecolor{GrayGray}{cmyk}    {0.00, 0.00, 0.00, 0.20}
\definecolor{GreenGreen}{cmyk}  {0.30, 0.00, 0.30, 0.10}
\definecolor{Silver}{cmyk}      {0.00, 0.30, 0.80, 0.00}
\definecolor{PinkPink}{cmyk}    {0.00, 0.15, 0.00, 0.00}
\definecolor{PurplePurple}{cmyk}{0.00, 0.45, 0.00, 0.07}
\TPMargin{0.2cm}
\textblockorigin{0.30cm}{0.35cm} %
\pagestyle{empty}
\setlength{\unitlength}{1cm}
\usepackage{array}
\newcommand{\myseat}[4]{%
	\vspace{-0.1cm}
	\hspace{-0.8cm}
	\parbox[t][2.3cm][t]{3.5cm}{
	\small #1 % \normalsize
	\begin{description}
	\vspace{-0.1cm}
	\item [ID:] #2
	\vspace{-0.1cm}
	\item [Team:] #3 \normalsize
	\vspace{-0.1cm}
	\item \normalsize #4
	\vspace{-0.1cm}
	\end{description}
	}
}

\begin{document}

% Row 1

\begin{textblock}{1.7}(1.0,0)
\textblocklabel{12}
\textblockcolor{[* $s12{color} *]}
\myseat{12}{[* $s12{id} *]}{[* $s12{team} *]}{[* $s12{name} *]}
\end{textblock}

\begin{textblock}{1.7}(2.7,0)
\textblocklabel{11}
\textblockcolor{[* $s11{color} *]}
\myseat{11}{[* $s11{id} *]}{[* $s11{team} *]}{[* $s11{name} *]}
\end{textblock}

\begin{textblock}{1.7}(4.4,0)
\textblocklabel{10}
\textblockcolor{[* $s10{color} *]}
\myseat{10}{[* $s10{id} *]}{[* $s10{team} *]}{[* $s10{name} *]}
\end{textblock}

\begin{textblock}{1.7}(6.1,0)
\textblocklabel{09}
\textblockcolor{[* $s09{color} *]}
\myseat{09}{[* $s09{id} *]}{[* $s09{team} *]}{[* $s09{name} *]}
\end{textblock}

\begin{textblock}{1.7}(7.8,0)
\textblocklabel{08}
\textblockcolor{[* $s08{color} *]}
\myseat{08}{[* $s08{id} *]}{[* $s08{team} *]}{[* $s08{name} *]}
\end{textblock}

\begin{textblock}{1.7}(9.5,0)
\textblocklabel{07}
\textblockcolor{[* $s07{color} *]}
\myseat{07}{[* $s07{id} *]}{[* $s07{team} *]}{[* $s07{name} *]}
\end{textblock}

\begin{textblock}{1.7}(11.2,0)
\textblocklabel{06}
\textblockcolor{[* $s06{color} *]}
\myseat{06}{[* $s06{id} *]}{[* $s06{team} *]}{[* $s06{name} *]}
\end{textblock}

\begin{textblock}{1.7}(12.9,0)
\textblocklabel{05}
\textblockcolor{[* $s05{color} *]}
\myseat{05}{[* $s05{id} *]}{[* $s05{team} *]}{[* $s05{name} *]}
\end{textblock}

\begin{textblock}{1.7}(14.6,0)
\textblocklabel{04}
\textblockcolor{[* $s04{color} *]}
\myseat{04}{[* $s04{id} *]}{[* $s04{team} *]}{[* $s04{name} *]}
\end{textblock}

\begin{textblock}{1.7}(16.3,0)
\textblocklabel{03}
\textblockcolor{[* $s03{color} *]}
\myseat{03}{[* $s03{id} *]}{[* $s03{team} *]}{[* $s03{name} *]}
\end{textblock}

\begin{textblock}{1.7}(18.0,0)
\textblocklabel{02}
\textblockcolor{[* $s02{color} *]}
\myseat{02}{[* $s02{id} *]}{[* $s02{team} *]}{[* $s02{name} *]}
\end{textblock}

\begin{textblock}{1.7}(19.7,0)
\textblocklabel{01}
\textblockcolor{[* $s01{color} *]}
\myseat{01}{[* $s01{id} *]}{[* $s01{team} *]}{[* $s01{name} *]}
\end{textblock}

% Row 2

\begin{textblock}{1.7}(1.0,1.4)
\textblocklabel{24}
\textblockcolor{[* $s24{color} *]}
\myseat{24}{[* $s24{id} *]}{[* $s24{team} *]}{[* $s24{name} *]}
\end{textblock}

\begin{textblock}{1.7}(2.7,1.4)
\textblocklabel{23}
\textblockcolor{[* $s23{color} *]}
\myseat{23}{[* $s23{id} *]}{[* $s23{team} *]}{[* $s23{name} *]}
\end{textblock}

\begin{textblock}{1.7}(4.4,1,4)
\textblocklabel{22}
\textblockcolor{[* $s22{color} *]}
\myseat{22}{[* $s22{id} *]}{[* $s22{team} *]}{[* $s22{name} *]}
\end{textblock}

\begin{textblock}{1.7}(6.1,1.4)
\textblocklabel{21}
\textblockcolor{[* $s21{color} *]}
\myseat{21}{[* $s21{id} *]}{[* $s21{team} *]}{[* $s21{name} *]}
\end{textblock}

\begin{textblock}{1.7}(7.8,1.4)
\textblocklabel{20}
\textblockcolor{[* $s20{color} *]}
\myseat{20}{[* $s20{id} *]}{[* $s20{team} *]}{[* $s20{name} *]}
\end{textblock}

\begin{textblock}{1.7}(9.5,1.4)
\textblocklabel{19}
\textblockcolor{[* $s19{color} *]}
\myseat{19}{[* $s19{id} *]}{[* $s19{team} *]}{[* $s19{name} *]}
\end{textblock}

\begin{textblock}{1.7}(11.2,1.4)
\textblocklabel{18}
\textblockcolor{[* $s18{color} *]}
\myseat{18}{[* $s18{id} *]}{[* $s18{team} *]}{[* $s18{name} *]}
\end{textblock}

\begin{textblock}{1.7}(12.9,1.4)
\textblocklabel{17}
\textblockcolor{[* $s17{color} *]}
\myseat{17}{[* $s17{id} *]}{[* $s17{team} *]}{[* $s17{name} *]}
\end{textblock}

\begin{textblock}{1.7}(14.6,1.4)
\textblocklabel{16}
\textblockcolor{[* $s16{color} *]}
\myseat{16}{[* $s16{id} *]}{[* $s16{team} *]}{[* $s16{name} *]}
\end{textblock}

\begin{textblock}{1.7}(16.3,1.4)
\textblocklabel{15}
\textblockcolor{[* $s15{color} *]}
\myseat{15}{[* $s15{id} *]}{[* $s15{team} *]}{[* $s15{name} *]}
\end{textblock}

\begin{textblock}{1.7}(18.0,1.4)
\textblocklabel{14}
\textblockcolor{[* $s14{color} *]}
\myseat{14}{[* $s14{id} *]}{[* $s14{team} *]}{[* $s14{name} *]}
\end{textblock}

\begin{textblock}{1.7}(19.7,1.4)
\textblocklabel{13}
\textblockcolor{[* $s13{color} *]}
\myseat{13}{[* $s13{id} *]}{[* $s13{team} *]}{[* $s13{name} *]}
\end{textblock}


% Row 3

\begin{textblock}{1.7}(1.0,2.8)
\textblocklabel{36}
\textblockcolor{[* $s36{color} *]}
\myseat{36}{[* $s36{id} *]}{[* $s36{team} *]}{[* $s36{name} *]}
\end{textblock}

\begin{textblock}{1.7}(2.7,2.8)
\textblocklabel{35}
\textblockcolor{[* $s35{color} *]}
\myseat{35}{[* $s35{id} *]}{[* $s35{team} *]}{[* $s35{name} *]}
\end{textblock}

\begin{textblock}{1.7}(4.4,2.8)
\textblocklabel{34}
\textblockcolor{[* $s34{color} *]}
\myseat{34}{[* $s34{id} *]}{[* $s34{team} *]}{[* $s34{name} *]}
\end{textblock}

\begin{textblock}{1.7}(6.1,2.8)
\textblocklabel{33}
\textblockcolor{[* $s33{color} *]}
\myseat{33}{[* $s33{id} *]}{[* $s33{team} *]}{[* $s33{name} *]}
\end{textblock}

\begin{textblock}{1.7}(7.8,2.8)
\textblocklabel{32}
\textblockcolor{[* $s32{color} *]}
\myseat{32}{[* $s32{id} *]}{[* $s32{team} *]}{[* $s32{name} *]}
\end{textblock}

\begin{textblock}{1.7}(9.5,2.8)
\textblocklabel{31}
\textblockcolor{[* $s31{color} *]}
\myseat{31}{[* $s31{id} *]}{[* $s31{team} *]}{[* $s31{name} *]}
\end{textblock}

\begin{textblock}{1.7}(11.2,2.8)
\textblocklabel{30}
\textblockcolor{[* $s30{color} *]}
\myseat{30}{[* $s30{id} *]}{[* $s30{team} *]}{[* $s30{name} *]}
\end{textblock}

\begin{textblock}{1.7}(12.9,2.8)
\textblocklabel{29}
\textblockcolor{[* $s29{color} *]}
\myseat{29}{[* $s29{id} *]}{[* $s29{team} *]}{[* $s29{name} *]}
\end{textblock}

\begin{textblock}{1.7}(14.6,2.8)
\textblocklabel{28}
\textblockcolor{[* $s28{color} *]}
\myseat{28}{[* $s28{id} *]}{[* $s28{team} *]}{[* $s28{name} *]}
\end{textblock}

\begin{textblock}{1.7}(16.3,2.8)
\textblocklabel{27}
\textblockcolor{[* $s27{color} *]}
\myseat{27}{[* $s27{id} *]}{[* $s27{team} *]}{[* $s27{name} *]}
\end{textblock}

\begin{textblock}{1.7}(18.0,2.8)
\textblocklabel{26}
\textblockcolor{[* $s26{color} *]}
\myseat{26}{[* $s26{id} *]}{[* $s26{team} *]}{[* $s26{name} *]}
\end{textblock}

\begin{textblock}{1.7}(19.7,2.8)
\textblocklabel{25}
\textblockcolor{[* $s25{color} *]}
\myseat{25}{[* $s25{id} *]}{[* $s25{team} *]}{[* $s25{name} *]}
\end{textblock}

% Row 4

\begin{textblock}{1.7}(1.0,4.2)
\textblocklabel{48}
\textblockcolor{[* $s48{color} *]}
\myseat{48}{[* $s48{id} *]}{[* $s48{team} *]}{[* $s48{name} *]}
\end{textblock}

\begin{textblock}{1.7}(2.7,4.2)
\textblocklabel{47}
\textblockcolor{[* $s47{color} *]}
\myseat{47}{[* $s47{id} *]}{[* $s47{team} *]}{[* $s47{name} *]}
\end{textblock}

\begin{textblock}{1.7}(4.4,4.2)
\textblocklabel{46}
\textblockcolor{[* $s46{color} *]}
\myseat{46}{[* $s46{id} *]}{[* $s46{team} *]}{[* $s46{name} *]}
\end{textblock}

\begin{textblock}{1.7}(6.1,4.2)
\textblocklabel{45}
\textblockcolor{[* $s45{color} *]}
\myseat{45}{[* $s45{id} *]}{[* $s45{team} *]}{[* $s45{name} *]}
\end{textblock}

\begin{textblock}{1.7}(7.8,4.2)
\textblocklabel{44}
\textblockcolor{[* $s44{color} *]}
\myseat{44}{[* $s44{id} *]}{[* $s44{team} *]}{[* $s44{name} *]}
\end{textblock}

\begin{textblock}{1.7}(9.5,4.2)
\textblocklabel{43}
\textblockcolor{[* $s43{color} *]}
\myseat{43}{[* $s43{id} *]}{[* $s43{team} *]}{[* $s43{name} *]}
\end{textblock}

\begin{textblock}{1.7}(11.2,4.2)
\textblocklabel{42}
\textblockcolor{[* $s42{color} *]}
\myseat{42}{[* $s42{id} *]}{[* $s42{team} *]}{[* $s42{name} *]}
\end{textblock}

\begin{textblock}{1.7}(12.9,4.2)
\textblocklabel{41}
\textblockcolor{[* $s41{color} *]}
\myseat{41}{[* $s41{id} *]}{[* $s41{team} *]}{[* $s41{name} *]}
\end{textblock}

\begin{textblock}{1.7}(14.6,4.2)
\textblocklabel{40}
\textblockcolor{[* $s40{color} *]}
\myseat{40}{[* $s40{id} *]}{[* $s40{team} *]}{[* $s40{name} *]}
\end{textblock}

\begin{textblock}{1.7}(16.3,4.2)
\textblocklabel{39}
\textblockcolor{[* $s39{color} *]}
\myseat{39}{[* $s39{id} *]}{[* $s39{team} *]}{[* $s39{name} *]}
\end{textblock}

\begin{textblock}{1.7}(18.0,4.2)
\textblocklabel{38}
\textblockcolor{[* $s38{color} *]}
\myseat{38}{[* $s38{id} *]}{[* $s38{team} *]}{[* $s38{name} *]}
\end{textblock}

\begin{textblock}{1.7}(19.7,4.2)
\textblocklabel{37}
\textblockcolor{[* $s37{color} *]}
\myseat{37}{[* $s37{id} *]}{[* $s37{team} *]}{[* $s37{name} *]}
\end{textblock}

% Row 5

\begin{textblock}{1.7}(1.0,5.6)
\textblocklabel{60}
\textblockcolor{[* $s60{color} *]}
\myseat{60}{[* $s60{id} *]}{[* $s60{team} *]}{[* $s60{name} *]}
\end{textblock}

\begin{textblock}{1.7}(2.7,5.6)
\textblocklabel{59}
\textblockcolor{[* $s59{color} *]}
\myseat{59}{[* $s59{id} *]}{[* $s59{team} *]}{[* $s59{name} *]}
\end{textblock}

\begin{textblock}{1.7}(4.4,5.6)
\textblocklabel{58}
\textblockcolor{[* $s58{color} *]}
\myseat{58}{[* $s58{id} *]}{[* $s58{team} *]}{[* $s58{name} *]}
\end{textblock}

\begin{textblock}{1.7}(6.1,5.6)
\textblocklabel{57}
\textblockcolor{[* $s57{color} *]}
\myseat{57}{[* $s57{id} *]}{[* $s57{team} *]}{[* $s57{name} *]}
\end{textblock}

\begin{textblock}{1.7}(7.8,5.6)
\textblocklabel{56}
\textblockcolor{[* $s56{color} *]}
\myseat{56}{[* $s56{id} *]}{[* $s56{team} *]}{[* $s56{name} *]}
\end{textblock}

\begin{textblock}{1.7}(9.5,5.6)
\textblocklabel{55}
\textblockcolor{[* $s55{color} *]}
\myseat{55}{[* $s55{id} *]}{[* $s55{team} *]}{[* $s55{name} *]}
\end{textblock}

\begin{textblock}{1.7}(11.2,5.6)
\textblocklabel{54}
\textblockcolor{[* $s54{color} *]}
\myseat{54}{[* $s54{id} *]}{[* $s54{team} *]}{[* $s54{name} *]}
\end{textblock}

\begin{textblock}{1.7}(12.9,5.6)
\textblocklabel{53}
\textblockcolor{[* $s53{color} *]}
\myseat{53}{[* $s53{id} *]}{[* $s53{team} *]}{[* $s53{name} *]}
\end{textblock}

\begin{textblock}{1.7}(14.6,5.6)
\textblocklabel{52}
\textblockcolor{[* $s52{color} *]}
\myseat{52}{[* $s52{id} *]}{[* $s52{team} *]}{[* $s52{name} *]}
\end{textblock}

\begin{textblock}{1.7}(16.3,5.6)
\textblocklabel{51}
\textblockcolor{[* $s51{color} *]}
\myseat{51}{[* $s51{id} *]}{[* $s51{team} *]}{[* $s51{name} *]}
\end{textblock}

\begin{textblock}{1.7}(18.0,5.6)
\textblocklabel{50}
\textblockcolor{[* $s50{color} *]}
\myseat{50}{[* $s50{id} *]}{[* $s50{team} *]}{[* $s50{name} *]}
\end{textblock}

\begin{textblock}{1.7}(19.7,5.6)
\textblocklabel{49}
\textblockcolor{[* $s49{color} *]}
\myseat{49}{[* $s49{id} *]}{[* $s49{team} *]}{[* $s49{name} *]}
\end{textblock}

% Row 6

\begin{textblock}{1.7}(1.0,7.0)
\textblocklabel{72}
\textblockcolor{[* $s72{color} *]}
\myseat{72}{[* $s72{id} *]}{[* $s72{team} *]}{[* $s72{name} *]}
\end{textblock}

\begin{textblock}{1.7}(2.7,7.0)
\textblocklabel{71}
\textblockcolor{[* $s71{color} *]}
\myseat{71}{[* $s71{id} *]}{[* $s71{team} *]}{[* $s71{name} *]}
\end{textblock}

\begin{textblock}{1.7}(4.4,7.0)
\textblocklabel{70}
\textblockcolor{[* $s70{color} *]}
\myseat{70}{[* $s70{id} *]}{[* $s70{team} *]}{[* $s70{name} *]}
\end{textblock}

\begin{textblock}{1.7}(6.1,7.0)
\textblocklabel{69}
\textblockcolor{[* $s69{color} *]}
\myseat{69}{[* $s69{id} *]}{[* $s69{team} *]}{[* $s69{name} *]}
\end{textblock}

\begin{textblock}{1.7}(7.8,7.0)
\textblocklabel{68}
\textblockcolor{[* $s68{color} *]}
\myseat{68}{[* $s68{id} *]}{[* $s68{team} *]}{[* $s68{name} *]}
\end{textblock}

\begin{textblock}{1.7}(9.5,7.0)
\textblocklabel{67}
\textblockcolor{[* $s67{color} *]}
\myseat{67}{[* $s67{id} *]}{[* $s67{team} *]}{[* $s67{name} *]}
\end{textblock}

\begin{textblock}{1.7}(11.2,7.0)
\textblocklabel{66}
\textblockcolor{[* $s66{color} *]}
\myseat{66}{[* $s66{id} *]}{[* $s66{team} *]}{[* $s66{name} *]}
\end{textblock}

\begin{textblock}{1.7}(12.9,7.0)
\textblocklabel{65}
\textblockcolor{[* $s65{color} *]}
\myseat{65}{[* $s65{id} *]}{[* $s65{team} *]}{[* $s65{name} *]}
\end{textblock}

\begin{textblock}{1.7}(14.6,7.0)
\textblocklabel{64}
\textblockcolor{[* $s64{color} *]}
\myseat{64}{[* $s64{id} *]}{[* $s64{team} *]}{[* $s64{name} *]}
\end{textblock}

\begin{textblock}{1.7}(16.3,7.0)
\textblocklabel{63}
\textblockcolor{[* $s63{color} *]}
\myseat{63}{[* $s63{id} *]}{[* $s63{team} *]}{[* $s63{name} *]}
\end{textblock}

\begin{textblock}{1.7}(18.0,7.0)
\textblocklabel{62}
\textblockcolor{[* $s62{color} *]}
\myseat{62}{[* $s62{id} *]}{[* $s62{team} *]}{[* $s62{name} *]}
\end{textblock}

\begin{textblock}{1.7}(19.7,7.0)
\textblocklabel{61}
\textblockcolor{[* $s61{color} *]}
\myseat{61}{[* $s61{id} *]}{[* $s61{team} *]}{[* $s61{name} *]}
\end{textblock}


\begin{textblock}{10}(2.0,9.8)
\textblocklabel{title}
\textblockcolor{}
\parbox[t][2.2cm][t]{9.5cm}{%
\large [* $room_id *], [* $league *]: Session [* $session *], Week: 
\vspace{-0.3cm} \hspace{-0.5cm}
}
\end{textblock}


\end{document}
